.dmm_value {
	/*border: 1px solid #000;*/
	top: 70px;
	left: 45px;
	width: 210px;
	position: absolute;
	font-size: 40pt;
	font-family: sans-serif;
	font-weight: bold;
	text-align: right;
}

.vred {
	transform-origin: 16px 102px;
	-moz-transform-origin: 16px 102px;
	-webkit-transform-origin: 16px 102px;
}

.rot {
	position:absolute;
	top: 207px;
	left: 82px;
}

.rot .top { /* , .rot .base */
	top: 0; left: 0;
	position:absolute;
}

.flukedmm {
	position: relative;
	overflow: hidden;
	height: 460px;
}

.flukedmm A:visited , .flukedmm A:link
{
	color: black;
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
	font-family: serif;
}

.flukedmm .manual_link
{
	color: black;
	position: absolute;
	right: 0px;
	bottom: 0px;
	margin: 2px;
	border-radius: 5px;
	border: 1px solid black;
	display: inline-block;
	background: #bbbbbb;
	font-size: 12px;
	padding: 1px 3px 1px 3px;
}


/*
.rot .base {
	display: none;
}
*/