"""
configuration.py.dist

This is a configuration.py sample file. Copy its content to create your own configuration.py file.
"""

DATABASE_NAME = 'WebLab'

USERNAME         = "username1"
USER_MAIL        = "username1@domain.com"
USER_FULLNAME    = "Username1 Full name"
USER_PASSWORD    = "username1password"