#######################################################################
# 
#                           W E B L A B
# 
*.pid
*.swp
*.swx
_file_notifier*
env
.metadata
.settings


#######################################################################
# 
#                         P Y T H O N
# 
# From https://github.com/github/gitignore/blob/master/Python.gitignore
# 
__pycache__/
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
# *.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

#######################################################################
# 
#                               J A V A
# 
# From https://github.com/github/gitignore/blob/master/Java.gitignore
# 
*.class

# Package Files #
*.jar
*.war
*.ear


#######################################################################
# 
#                           W I N D O W S
# 
Thumbs.db

#######################################################################
#
#                           M A C
#
.DS_Store

#######################################################################
# 
#                           V A G R A N T
# 
.vagrant/

#######################################################################
# 
#                           E X P E R I M E N T S
# 

# Xilinx compiler log file.
compiler.log


######################################################################
#
#			   INTELLIJ IDEA (IDE)
#
.idea
