{% extends "webclient_web/_base.html" %}
{% block body %}

    <div class="container" id="loggedin-container">
        <div class="row">

            <div class="col-xs-12 col-sm-9 pull-right" style="text-align: right"> <!-- pull-right not used because we're just aligning right -->
                <p style="white-space: nowrap"> <!-- The nowrap is so that the log-out doesnt get a line-break -->
                    <a href="{{ loggedin.profile_url }}"><img style="display:inline-block" class="img-responsive img-rounded" src="{{ loggedin.gravatar }}" width="30px"/></a>
                    <a href="{{ loggedin.profile_url }}">{{ loggedin.full_name }}</a> | <a href="{{ loggedin.admin_url }}"><img src="{{ url_for(".static", filename="img/ui/administration.png") }}"/></a> | <a href="{{ loggedin.profile_url }}"><img src="{{ url_for(".static", filename="img/ui/profile.png") }}"/></a> | <a href="{{ url_for(".logout") }}">{{ gettext("Log out") }}</a>
                </p>
            </div>

            <div class="col-xs-12 col-sm-3">
                <a href="{{ loggedin.host_link }}">
                    <img id="logo" class="img-responsive" src="{{ loggedin.logo_url }}"/>
                </a>
            </div>


        </div> <!-- !row -->
    </div>

{% endblock %}



{% block scripts %}
    <script type="text/javascript">
    </script>
{% endblock %}
