{% extends "webclient_web/_logged_base.html" %}
{% set title="Lab - " %}

{% import "webclient_web/_upload.html" as upload %}

{% block styles %}
    {{ super() }}
    {{ upload.styles() }}
{% endblock %}

{% block body %}

    {{ super() }}

    {# Includes the base HTML for the angular App for the laboratory, so that it is (or seems) more modular. #}
    {% include 'webclient_web/apps/lab/lab.html' %}

{% endblock %}


{% block scripts %}

    {{ super() }}

    {{ upload.scripts() }}

    {{ upload.code(config["UPLOAD_URL"]) }}

    <script type="text/javascript">

    console.log("THE EXPERIMENT IS: ");
    console.log({{ experiment|tojson }});

    var $reserveStatusRow = $("#reserve-status-row");
    var $reserveStatus = $("#reserve-status");

    function InjectScriptIntoFrame(url) {
        myIframe = document.getElementById("exp-frame");
        var script = myIframe.contentWindow.document.createElement("script");
        script.async = false;
        script.defer = false;
        script.type = "text/javascript";
        script.src = url;
        myIframe.contentWindow.document.head.appendChild(script);
    }


    console.debug("Load callback set");


    /**
     * Handle certain ui actions when the experiment finishes.
     */
    function onReserveDone() {
        // Switch the finish and reserve containers.
        $("#reserve-container").slideUp(500);
        $("#finish-container").slideDown(500);

        // Re-enable the Reserve buttons, for when they are shown later.
        $(".reserve-btn").removeAttr("disabled");

        // In a while, remove the reserve alert.
        // Note: As of now this isn't actually seen because the whole container is hidden.
        $("#reserve-status-row").delay(500).fadeOut(500);

        // Hide the upload container.
        $("#file-upload-container").delay(500).fadeOut(500);
    }


    /**
     * Handle certain ui actions when the experiment finishes.
     */
    function onExperimentFinished() {
        // We should probably show some kind of experiment-finished message.

        $("#reserve-container").slideDown(500);
        $("#finish-container").slideUp(500);

        // Reload the frame.
        // This is particularly important at the moment because the WeblabExp compatibility library
        // does not support any kind of reset besides re-instancing. (and it probably shouldn't support it either).
        $('#exp-frame').attr('src', function (i, val) {
            return val;
        });
    }


    /**
     * Reserve experiment failed.
     */
    function onReserveFail(error) {

        // We logged out.
        if (error.code == "JSON:Client.SessionNotFound") {
            errorStatus("{{ gettext("You are not logged in") }}");
            setTimeout(function () {
                window.location = "{{ url_for(".index") }}";
            }, 1500);
        }
        else {
            errorStatus("{{ gettext("Failed to reserve: ") }}" + error.message)
        }
    }


    /**
     * Displays the specified reserve info status.
     * @param {string} info: Info message that will appear in blue.
     */
    function infoStatus(info) {
        $reserveStatusRow.show();
        $reserveStatus.text(info);
        $reserveStatus.addClass("alert-info");
        $reserveStatus.removeClass("alert-danger");
    }

    /**
     * Displays the specified error info status.
     * @param {str} error: Error message that will appear in red.
     */
    function errorStatus(error) {
        $reserveStatusRow.show();
        $reserveStatus.text(error);
        $reserveStatus.addClass("alert-danger");
        $reserveStatus.removeClass("alert-info");
    }


    {# Await for the page #}
    $(document).ready(function () {

        // Bootstrap angular itself.
        angular.bootstrap(document, ['lab']);

        // Load the iframeResizer when the frame loads.
        $("#exp-frame").on("load", function (ev) {

            // We cannot call the iFrameResize function straightaway, because, the way we handle this as of now, is to load
            // the internal resize script within the iframe asynchronously. This means that we need to make sure it has
            // finished loading.
            // TODO: Consider whether we should assume that the experiment scripts include the script by themselves.
            var timesTried = 0;
            var initResizeInterval = setInterval(function () {
                if("#exp-frame" !== undefined) {
                    $("#exp-frame").iFrameResize({
                        log: false,
                        enablePublicMethods: true,
                        checkOrigin: false
                    }, "#exp-frame");
                    clearInterval(initResizeInterval);
                } else {
                    timesTried++;
                    if(timesTried > 10) {
                        clearInterval(initResizeInterval);
                        console.error("[RESIZE]: We failed to resize the experiment's iframe. Maybe the experiment's iframe resizer script could not be injected properly.");
                    }
                }
            }, 500);
        });

        $("#finish-experiment-btn").click(function (ev) {
            currentExperiment.finishExperiment();
        });

    }); //! document.ready

    </script>


    {# TODO: Switch for .min files on release #}
    <script type="text/javascript" src="{{ url_for(".static", filename="bower_components/jquery/dist/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for(".static", filename="bower_components/angular/angular.js") }}"></script>
    <script type="text/javascript" src="{{ url_for(".static", filename="js/iframeResizer.min.js") }}"></script>


    {# Embedded templates #}
    {% include 'webclient_web/apps/lab/expinfo/expinfo.template.html' %}
    {% include 'webclient_web/apps/lab/reserve-status/reserve-status.directive.html' %}
    {% include 'webclient_web/apps/lab/iframe/experiment-iframe.template.html' %}

    {# Fake includes so that we can use Jinja2 directives #}
    <script type="text/javascript">
        {% include 'webclient_web/apps/lab/app.js' %}
        {% include 'webclient_web/apps/lab/lab.controller.js' %}
        {% include 'webclient_web/apps/lab/expinfo/expinfo.directive.js' %}
        {% include 'webclient_web/apps/lab/iframe/experiment-iframe.directive.js' %}
        {% include 'webclient_web/apps/lab/reserve-status/reserve-status.directive.js' %}
    </script>

{% endblock %}
