{% macro show_groups(tree, node = None) %}
    <ul>
    {% for group in tree[node] %}
        <li><a href="{{ url_for('stats/groups.group_stats', group_id = group.id) }}">{{ group.name }}</a>
        {% if group in tree %}
            {{ show_groups(tree, group) }}
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro timetable(data, show_empty = False, first_letter = True) %}
     <table class="table table-bordered" style="table-layout: fixed">
        <thead>
            <tr>
                <th></th>
                <th class="text-center">{% if first_letter %}M{% else %}Monday{% endif %}</th>
                <th class="text-center">{% if first_letter %}T{% else %}Tuesday{% endif %}</th>
                <th class="text-center">{% if first_letter %}W{% else %}Wednesday{% endif %}</th>
                <th class="text-center">{% if first_letter %}T{% else %}Thursday{% endif %}</th>
                <th class="text-center">{% if first_letter %}F{% else %}Friday{% endif %}</th>
                <th class="text-center">{% if first_letter %}S{% else %}Saturday{% endif %}</th>
                <th class="text-center">{% if first_letter %}S{% else %}Sunday{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% set days = 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday' %}
            {% for hour_number in range(24) %}
                {% set hour = ('%s' % hour_number).zfill(2) %}

                {% if show_empty or hour not in data.get('empty_hours', []) %}
                <tr>
                    <th>{{ hour }}:00</th>
                    {% for day in days %}
                        {% if hour in data['hours'] and day in data['hours'][hour] %}
                            <td class="text-center" style="background-color: #{{ data['hours'][hour][day]['color'] }}">{{ data.get('format', '%.2f') % data['hours'][hour][day]['value'] }}</td>
                        {% else %}
                            <td class="text-center" style="background-color: #ffffff"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
   

{% endmacro %}

{% macro timeline(headers, data, table_id, format = '%.2f') %}
    {% if data|length == 0 %}
        <div class="alert alert-danger text-center">
            <h1>No data available</h1>
            <p>The timeline is empty</p>
        </div>
    {% endif %}
    <table id="{{ table_id }}">
        <tfoot>
            <tr>
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </tfoot>
        <tbody>
            <tr>
                {% for col in data %}
                    <td>{{ format % col }}</td>
                {% endfor %} 
            </tr>
        </tbody>
    </table>
    <div id="holder_{{ table_id }}"></div>

{% endmacro %}

{% macro timeline_scripts(skip_raphael = False) %}
    {% if not skip_raphael %}
        <script src="{{ url_for('static', filename='js/raphael-min.js') }}"></script>
    {% endif %}
    <script src="{{ url_for('static', filename='js/raphael-analytics.js') }}"></script>
    <script src="{{ url_for('static', filename='js/raphael-popup.js') }}"></script>
{% endmacro %}

{% macro timeline_load(table_id, name = None) %}
    <script>
        {% if name %}
            loadTimetable("{{ table_id }}", "{{ name }}");
        {% else %}
            loadTimetable("{{ table_id }}");
        {% endif %}
    </script>
{% endmacro %}

{% macro calendar(month) %}
        <div class="col-lg-4 text-center">
            <h4><a href="{{ month['link'] }}">{{ month['name'] }} {{ month['year'] }}</a></h4>
            <table class="table table-border table-hover">
                <tr>
                    <td></td>
                    <td class="weekday">S</td>
                    <td class="weekday">M</td>
                    <td class="weekday">T</td>
                    <td class="weekday">W</td>
                    <td class="weekday">T</td>
                    <td class="weekday">F</td>
                    <td class="weekday">S</td>
                </tr>
                {% for week in month['weeks'] %}
                    <tr style="{% if week['selected'] %}background: #afa{% endif %}">
                        <td class="week_number"><a href="{{ week['link'] }}">{{ week['number'] }}</a></td>
                        <td class="{% if week['sunday']['active'] %}dayon{% else %}dayoff{% endif %} sunday">{{ week['sunday']['day'] }}</td>
                        <td class="{% if week['monday']['active'] %}dayon{% else %}dayoff{% endif %}">{{ week['monday']['day'] }}</td>
                        <td class="{% if week['tuesday']['active'] %}dayon{% else %}dayoff{% endif %}">{{ week['tuesday']['day'] }}</td>
                        <td class="{% if week['wednesday']['active'] %}dayon{% else %}dayoff{% endif %}">{{ week['wednesday']['day'] }}</td>
                        <td class="{% if week['thursday']['active'] %}dayon{% else %}dayoff{% endif %}">{{ week['thursday']['day'] }}</td>
                        <td class="{% if week['friday']['active'] %}dayon{% else %}dayoff{% endif %}">{{ week['friday']['day'] }}</td>
                        <td class="{% if week['saturday']['active'] %}dayon{% else %}dayoff{% endif %}">{{ week['saturday']['day'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
{% endmacro %}


{% macro calendar_scripts() %}
    <style>
        .week_number {
            font-weight: bold;
        }
        .dayoff {
            color: #aaa;
        }
        .sunday {
            color: #f00;
        }
        .dayoff.sunday {
            color: #faa;
        }
        .weekday {
            font-weight: bold;
        }
    </style>

{% endmacro %}

{% macro sna(id = '') %}

    <button class="btn" id="stop-layout_{{ id }}">Stop Layout</button>

    <div class="span12 sigma-parent" id="sigma-example-parent_{{ id }}">
        <div class="sigma-expand" id="sigma-example_{{ id }}">
        </div>
    </div>
{% endmacro %}

{% macro sna_scripts() %}
    <script src="{{ url_for('static', filename='js/sigma.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sigma.parseGexf.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sigma.forceatlas2.js') }}"></script>
{% endmacro %}

{% macro sna_load(gefx_file, id = '') %}
<script type="text/javascript">function init() {
  // Instanciate sigma.js and customize rendering :
  var sigInst = sigma.init(document.getElementById('sigma-example_{{ id }}')).drawingProperties({
    defaultLabelColor: '#000',
    defaultLabelSize: 14,
    defaultLabelBGColor: '#000',
    defaultLabelHoverColor: '#000',
    labelThreshold: 6,
    defaultEdgeType: 'curve',
    defaultEdgeArrow: 'target'
  }).graphProperties({
    minNodeSize: 10,
    maxNodeSize: 20,
    minEdgeSize: 5,
    maxEdgeSize: 5,
    sideMargin: 50
  }).mouseProperties({
    maxRatio: 32
  });

  // Parse a GEXF encoded file to fill the graph
  // (requires "sigma.parseGexf.js" to be included)
  sigInst.parseGexf("{{ gefx_file }}");
  
  // Draw the graph :
  //sigInst.draw();

  sigInst.startForceAtlas2();
  
   var isRunning = true;
    document.getElementById('stop-layout_{{ id }}').addEventListener('click',function(){
    if(isRunning){
    isRunning = false;
    sigInst.stopForceAtlas2();
    document.getElementById('stop-layout_{{ id }}').childNodes[0].nodeValue = 'Start Layout';
    }else{
    isRunning = true;
    sigInst.startForceAtlas2();
    document.getElementById('stop-layout_{{ id }}').childNodes[0].nodeValue = 'Stop Layout';
    }
    },true);
  
  
  
}

if (document.addEventListener) {
  document.addEventListener("DOMContentLoaded", init, false);
} else {
  window.onload = init;
}
</script>

<style type="text/css">
  /* sigma.js context : */
  .sigma-parent {
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #eee;
    height: 800px;
  }
  .sigma-expand {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .buttons-container{
    padding-bottom: 8px;
    padding-top: 12px;
  }
</style>
{% endmacro %}
