{% extends 'weblab-master.html' %}

{% block head %}
<link href="{{ url_for('admin.static', filename='select2/select2.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}

<div class="row">
    <div class="span7 offset2">
        {% from "_form_helpers.html" import render_field %}
        <form method="POST" action="" class="form-horizontal">
            {{ form.hidden_tag() }}

            <fieldset>
                {{ render_field(form.name) }}
                {{ render_field(form.randomize_instances) }}

                <div class="form-actions">
                    <a class="btn" href="{{ back }}">Back</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </fieldset>
        </form>
       
    </div>
</div>

{% endblock %}

{% block tail %}
    <script src="{{ url_for('admin.static', filename='admin/js/form.js') }}"></script>
{% endblock %}

