{% extends 'weblab-master.html' %}
{% block body %}

{% from "_widgets.html" import timeline, timetable, sna, calendar_day, timeline_bars %}

<div class="row">
    <div class="span12">
        <a name="top"></a>
        {% if results['mode'] == 'group' %}
        <h1>{{ group.name }}</h1>
        {% elif results['mode'] == 'user_in_group' %}
        <h1>{{ user.full_name }} ({{ user.login }}) in {{ group.name }}</h1>
        {% elif results['mode'] == 'total' %}
        <h1>Global information</h1>
        {% elif results['mode'] == 'user_in_total' %}
        <h1>{{ user.full_name }} ({{ user.login }})</h1>
        {% endif %}

        <h3>Table of contents</h3>
        <ul>
            <li><a href="#summary">Summary</a>
            <ul>
                <li><a href="#experiments_available">Experiments available</a></li>
                <li><a href="#uses">Uses</a></li>
            </ul>
            </li>
            {% if results['timeline_values'] %}
            <li><a href="#usage_patterns">Usage patterns</a>
            <ul>
                <li><a href="#uses_per_day">Uses per day</a></li>
                <li><a href="#uses_per_week">Uses per week</a></li>
                <li><a href="#avg_per_day">Average time per day</a></li>
                <li><a href="#session_per_day">Session time frequency</a></li>
                <li><a href="#uses_per_time_of_day">Uses per time of the day</a></li>
            </ul>
            </li>
            {% if results['mode'] in ('group', 'total') %}
            <li><a href="#users">Users</a>
            <ul>
                <li><a href="#uses_per_student">Uses per student distribution</a></li>
                <li><a href="#users_summary">Summary</a></li>
                {% if results['links'] %}
                <li><a href="#social_network">Social Network</a></li>
                {% endif %}
            </ul>
            {% endif %}
            {% endif %}
        </ul>

        <a name="summary"></a>
        <h3>Summary</h3>

        <a name="experiments_available"></a>
        <h4>Experiments available</h4>
        <ul>
            {% for experiment in results['experiments'] %}
                <li>{{ experiment }}</li>
            {% endfor %}
        </ul>
        <a name="uses"></a>
        <h4>Uses</h4>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% if results['mode'] in ('group', 'total') %}
                <tr>
                    <td>Users:</td>
                    <td>{{ statistics['users'] }}</td>
                </tr>
                {% if results['timeline_values'] %}
                <tr>
                    <td>Total uses</td>
                    <td>{{ statistics['uses'] }} uses ({{ '%.2f' % (statistics['uses'] / (statistics['users'] or 1)) }} uses per user)</td>
                </tr>
                <tr>
                    <td>Total time</td>
                    <td>{{ '%.2f' % statistics['total_time'] }} seconds ({% if statistics['total_time_human'].days > 1 %}over {{ statistics['total_time_human'].days }} days; {% endif %}{{ '%.2f' % (statistics['total_time'] / (statistics['users'] or 1))}} seconds per user)</td>
                </tr>
                {% endif %}
                {% elif results['mode'] == 'user_in_group' %}
                <tr>
                    <td>Total uses</td>
                    <td>{{ statistics['uses'] }} uses</td>
                </tr>
                <tr>
                    <td>Total time</td>
                    <td>{{ '%.2f' % statistics['total_time'] }} seconds</td>
                </tr>

                {% endif %}
            </tbody>
        </table>
        {% if results['timeline_values'] %}
        <a name="usage_patterns"></a>
        <h3>Usage patterns</h3>
        <a name="uses_per_day"></a>
        <h4>Uses per day</h4>
        {{ calendar_day('users_calendar_day') }}

        <a name="uses_per_week"></a>
        <h4>Uses per week</h4>
        {{ calendar_day('users_calendar_week') }}
        <a name="avg_per_day"></a>
        <h4>Average time per day</h4>
        {{ timeline(results['time_per_day_headers'], results['time_per_day_values'], "per_day", '%i') }}
        <a name="session_per_day"></a>
        <h4>Session time frequency</h4>
        {{ timeline(results['per_block_headers'], results['per_block_values'], "per_block", '%i') }}
        <a name="uses_per_time_of_day"></a>
        <h4>Uses per time of the day</h4>
        {{ timetable(results['usage_timetable']) }}
        <a name="users"></a>

        {% if results['mode'] in ('group','total') %}
        <h3>Users</h3>
        <a name="uses_per_student"></a>
        <h4>Uses per student distribution</h4>
        {% if results['users_timeline_values']|length > 100 %}
            {{ timeline(results['users_timeline_headers'], results['users_timeline_values'], "users_values", '%i') }}
        {% else %}
            {{ timeline_bars('users_per_student') }}
        {% endif %}
        <a name="users_summary"></a>
        <h4>Summary</h4>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Login</th>
                    <th>Uses</th>
                    <th>Time (seconds)</th>
                    <th>Average time (seconds)</th>
                </tr>
            </thead>
            <tbody>
                {% for (login, full_name), uses in results['users'] %}
                <tr>
                    {% if group_id == 'total' %}
                    <td><a href="{{ url_for('.user_in_total_stats', login = login) }}">{{ full_name }}</a></td>
                    <td><a href="{{ url_for('.user_in_total_stats', login = login) }}">{{ login }}</a></td>
                    {% else %}
                    <td><a href="{{ url_for('.user_in_group_stats', login = login, group_id = group_id) }}">{{ full_name }}</a></td>
                    <td><a href="{{ url_for('.user_in_group_stats', login = login, group_id = group_id) }}">{{ login }}</a></td>
                    {% endif %}
                    <td>{{ uses }}</td>
                    <td>{{ results['users_time'][login] }}</td>
                    <td>{{ '%.2f' % (results['users_time'][login] / ( uses or 1)) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if results['links'] %}
        <a name="social_network"></a>
        <h4>Social Network</h4>
        {{ sna() }}
        {% endif %}
        {% endif %}
        {% else %}
        <div class="alert alert-error">
            <h3>Sorry, there has been no activity in this group</h3>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block tail %}
    {% from "_widgets.html" import timeline_scripts, timeline_load, sna_scripts, sna_load, calendar_day_scripts, calendar_day_load, timeline_bars_scripts, timeline_bars_load %}
    {{ timeline_scripts() }}
    {{ timeline_load('per_day', 'second') }}
    {{ timeline_load('per_block', 'use') }}
    {{ calendar_day_scripts() }}
    {{ calendar_day_load('users_calendar_day', results['calendar_day_data']) }}
    {{ calendar_day_load('users_calendar_week', results['calendar_week_data']) }}
    {{ timeline_bars_scripts(False) }}

    {% if results['users_timeline_values']|length > 100 %}
        {{ timeline_load('users_values', 'use') }}
    {% else %}
        {{ timeline_bars_load('users_per_student', results['users_timeline_bar_data']) }}
    {% endif %}


    {% if results['links'] %}
        {{ sna_scripts() }}
        {{ sna_load(url_for('.gefx', group_id = group_id)) }}
    {% endif %}
{% endblock %}

