{% extends 'weblab-master.html' %}
{% block body %}

<div class="row">
    <div class="span7 offset2">

        <br/>
        <h1>Welcome, {{ user_information.full_name }}!</h1>
        <br/>

        <p>Reserve Here you will be able to see what your students did.

        {% if is_admin %}
        Additionally, since you're an administrator, you can go the <a href="{{ admin_url }}">the administration panel</a>.
        {% endif %}
        </p>

        {% if groups %}
        <p>You're in charge of the following groups{% if is_admin %} (or <a href="{{ url_for('stats/groups.groups_total_stats') }}">see all uses</a>){% endif %}:</p>
        {% from "_widgets.html" import show_groups %}
        {{ show_groups(tree_groups, groups) }}
        {% else %}
        <p>However, it seems that you don't have permission of teacher on any group (or there is no group in the system)</p>
        {% endif %}
    </div>
</div>

{% endblock %}
