.ag_osc
{
	position: relative;
	text-align: left;
	width: 800px;
	height: 449px;
	font-family: serif;
	vertical-align: baseline;
}

.ag_osc img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.ag_osc .button, .ag_osc .button img, .ag_osc .stepwheel, .ag_osc .stepwheel img {
	position:absolute;
}

.ag_osc .button img { display: none; }
.ag_osc .button img.active {	display: inline; }

.ag_osc .stepwheel img { display: none; }
.ag_osc .stepwheel img.active {	display: inline; }

.ag_osc .disabled { color: gray; }


.ag_osc .horz { top: 28px; left: 435px; }
.ag_osc .vert_ch1 { top: 182px; left: 444px; }
.ag_osc .vert_ch2 { top: 182px; left: 521px; }

.ag_osc .horz_offset { top: 33px; left: 577px; }
.ag_osc .offset_ch1 { top: 284px; left: 451px; }
.ag_osc .offset_ch2 { top: 284px; left: 529px; }
.ag_osc .offset_trg { top: 92px; left: 747px; }
.ag_osc .selection_knob { top: 115px; left: 417px; }

.ag_osc .button.channel_1 {	top: 237px; left: 454px; }
.ag_osc .button.channel_2 {	top: 237px; left: 533px; }

.ag_osc .button.math {	top: 245px; left: 489px; }

.ag_osc .button.edge {top: 99px; left: 654px; }
.ag_osc .button.modecoupling {top: 99px; left: 699px; }
.ag_osc .button.saverecall {top: 141px; left: 508px; }

.ag_osc .button.runstop {top: 34px; left: 659px; }
.ag_osc .button.single {top: 34px; left: 725px; }

.ag_osc .button.cursors {top: 99px; left: 460px; }
.ag_osc .button.measure {top: 99px; left: 503px; }

/* to avoid having to do the layouting we let the browser do it for us */
.ag_osc .display_buttons {
	position: absolute;
	top: 345px;
	left: 53px;
	width: 320px;
}

.ag_osc .display_buttons .button {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 30px;
	margin-right: 20px;
}

.ag_osc .multibutton div { display: none; }
.ag_osc .multibutton div.visible { display: inline; }

.ag_osc .small img {
	transform-origin: 18px 18px;
	-webkit-transform-origin: 18px 18px;
	-moz-transform-origin: 18px 18px;
}

.ag_osc .large img {
	transform-origin: 25.5px 25.5px;
	-webkit-transform-origin: 25.5px 25.5px;
	-moz-transform-origin: 25.5px 25.5px;
}

.ag_osc .display {
	position: absolute;
	background: black;
	top: 61px; left: 33px;
	width: 349px; height: 281px;
	border-radius: 8px;
}

.ag_osc .display .background {
	background: green;
	width: 341px; height: 269px;
	margin: 4px;
}

.ag_osc .display .topbar {
	height: 15px;
	position: relative;
}

.ag_osc .display .graph {
	position: absolute;
	background: black;
	width: 330px; height: 208px;
	top: 20px; left: 14px;
}

.ag_osc .display canvas {
	position:absolute;
	top: 0; left: 0;
}

.ag_osc .display .channelname {
	font-size: 12px;
	font-family: sans-serif;
	font-weight: bold;
	position: relative;
}

.ag_osc .display .lighttext {
	border-radius: 2px;
	font-size: 11px;
	font-family: sans-serif;
	margin: 0 0 0 4px;
	padding: 0 2px 0 2px;
}

.ag_osc .display .topbar > div
{
	bottom: 0;
	/*height: 18px;*/
}

.ag_osc .display .lighttext.light {
	background: #00ff00;
}

.ag_osc .display .channel {
	position: absolute;
	display: none;
}

.ag_osc .display .channel.visible {
	display: inline;
}

.ag_osc .display .topbar .channel.ch1 {
	left: 7px;
}

.ag_osc .display .topbar .channel.ch2 {
	left: 67px;
}

.ag_osc .display .topbar .timedelay_arrow {
	position: absolute;
	left: 173px;
}

.ag_osc .display .topbar .timedelay_arrow img.arrow {
	position: absolute;
	bottom: 1px;
}

.ag_osc .display .topbar .timedelay {
	position: absolute;
	left: 176px;
}

.ag_osc .display .topbar .timedelay .unitstring {
	margin-right: -4px; /* workaround the problem with rounded borders without a '/' at the end */
}

.ag_osc .display .timescale {
	position: absolute;
	left: 212px;
}

.ag_osc .display .trigtype {
	position: absolute;
	left: 250px;
}

.ag_osc .display .triggerslope {
	position: absolute;
	width: 14px; /*height: 16px;*/
	left: 284px;
}

.ag_osc .display .triggerslope img
{
	position: absolute;
	bottom: 0;
}

.ag_osc .display .triggerslope .flank {	position: absolute;	display: none; }
.ag_osc .display .triggerslope .flank.selected { display: block; }

.ag_osc .display .triggersource
{
	position: absolute;
	left: 297px;
}

.ag_osc .display .triglevel {
	position: absolute;
	right: 1px;
}
.ag_osc .display .triglevel .lighttext {
	padding-right: 1px;
}

/* left vertical bar */
.ag_osc .display .vertical {
	position: absolute;
	top: 20px; left: 4px;
	width: 10px; height: 207px;
	overflow: hidden;
}

.ag_osc .display .vertical .ch_offset {
	position: absolute;
	left: 2px;
}

.ag_osc .display .vertical .ch_offset .offsetchannel {
	position: absolute;
	font-size: 8pt;
	font-family: sans-serif;
	top: -11px;
	left: 0px;
}

.ag_osc .display .vertical .ch_offset .offsetarrow {
	position: absolute;
}

.ag_osc .display .vertical .normal .offsetarrow {	top: -2px; }
.ag_osc .display .vertical .normal .offsetchannel {	top: -13px; }
.ag_osc .display .vertical .normal { top: 104px; }

.ag_osc .display .vertical .overflow_up {	left: 3px;}
.ag_osc .display .vertical .ch_offset .overflow_up { top: 6px; left: -1px; }

.ag_osc .display .vertical .overflow_down {	top: 200px;	left: 3px; }
.ag_osc .display .vertical .ch_offset .overflow_down { left: -1px; }

.ag_osc .display .vertical .group .ch_offset { display: none; }
.ag_osc .display .vertical .group .ch_offset.visible { display: inline; }

.ag_osc .display .vertical .group { display: none; }
.ag_osc .display .vertical .group.visible { display: inline; }

/* fixup for trigger marker group */
.ag_osc .display .vertical .group.trigger_group .normal .offsetarrow { top: -8px; left: -4px; }
.ag_osc .display .vertical .group.trigger_group .overflow_up .offsetarrow { top: -2px; left: -4px; }
.ag_osc .display .vertical .group.trigger_group .overflow_down .offsetarrow { top: -12px; left: -4px;}


/* menus */

.ag_osc .display .menubar
{
	position: absolute;
	top: 243px;
	left: 15px;
	width: 333px;
	height: 28px;
	
	font-size: 7pt;
	font-family: sans-serif;
}

.ag_osc .display .menubar .menu {	display:none; }
.ag_osc .display .menubar .menu.visible {	display:block; }

.ag_osc .display .menubar .menubox
{
	background: #00ff00;
	height: 28px;
	width: 51px;
	padding: 0px;
	border-radius: 5px;
	display: inline-block;
	border-top: 1px solid #86FE85;
	border-left: 1px solid #86FE85;
	border-right: 1px solid #006633;
	border-bottom: 1px solid #006633;
	/* #006633 */
	margin: -1px;
	text-align: center;
	vertical-align: top;
}

.ag_osc .display .menubar .menubox .title
{
	/*position: absolute;*/
	/*top: 2px;*/
	width: 50px;
	padding-top: 2px;
	padding-bottom: 2px;
	display: block;
}

.ag_osc .display .menubar .menubox .title.bigfont
{
	font-size: 8pt;
}

.ag_osc .display .menubar .menubox .value
{
	/*position: absolute;*/
	/*top: 15px;*/
	width: 50px;
	display: block;
}

.ag_osc .display .menubar .menubox .edgeselect
{
	top: 2px;
	width: 20px;
	display: inline-block;
}

.ag_osc .display .menubar .menubox .edgeselect .checkmark_holder
{
	display: inline-block;

	width:7px;
	height:7px;
	position: relative;
	bottom: 4px;
}

.ag_osc .display .menubar .menubox .edgeselect .checkmark
{
	display: none;
}

.ag_osc .display .menubar .menubox .edgeselect.selected .checkmark
{
	display: inline-block;
}

.ag_osc .display .menubar .menubox .value .checkmark { display: none; }
.ag_osc .display .menubar .menubox .value .checkmark.selected { display: inline-block; }


.ag_osc .display .menubar .menubox .menuicon
{
	display: inline;
	margin-right: 1px;
}

.ag_osc .display .menubar .menu_selection
{
	background: #00ff00;
	border-top: 1px solid #86FE85;
	border-left: 1px solid #86FE85;
	border-right: 1px solid #006633;
	border-bottom: 1px solid #006633;
	border-radius: 5px 5px 2px 2px;
	padding: 2px;
	
	position: absolute;
	bottom: 34px;
	width: 60px;
	display: none;
}

.ag_osc .display .menubar .checkbox
{
	background: #00ff00;
	border-top: 1px solid #86FE85;
	border-left: 1px solid #86FE85;
	border-right: 1px solid #006633;
	border-bottom: 1px solid #006633;
	/*border-radius: 5px 5px 2px 2px;*/
	padding: 2px;
	
	height: 4px;
	width: 4px;
	display: inline-block;
}

.ag_osc .display .menubar .checkbox.selected
{
	background: #000000;
	border-top: 1px solid #86FE85;
	border-left: 1px solid #86FE85;
	border-right: 1px solid #006633;
	border-bottom: 1px solid #006633;
	box-shadow: 0 0 0 1px #00ff00 inset; /* inner border */
	padding: 2px;
	
	height: 4px;
	width: 4px;
	display: inline-block;
}





.ag_osc .display .menubar .menu_selection.pos2 { left: 53px; }

.ag_osc .display .menubar .menu_selection.visible
{
	display: block;
}

.ag_osc .display .menubar .menu_selection hr
{
	height:1px;
	border:0;
	background-color: black;
	margin: 2px 0 2px 0;
}

.ag_osc .checkmark {
	display: inline-block;
	background: url("images/checkmark.png") no-repeat;
	width: 7px; height: 7px;
}

/* placeholder that we don't want to hide when we hide the checkmark */
.ag_osc .display .menubar .menu_selection .checkmark_holder
{
	width:10px;
	display: inline-block;
}

.ag_osc .display .menubar .menu_selection .selection .checkmark { display: none; }
.ag_osc .display .menubar .menu_selection .selection.selected .checkmark { display: inline-block; }

/*
.ag_osc .display .menubar .menu_selection .selection img { display: none; }
.ag_osc .display .menubar .menu_selection .selection.selected img{ display: inline; }
*/

.ag_osc .display .menubar .menutitle {
	position: absolute;
	bottom: 50px;
	width: 328px;
	text-align: center;
	display: none;
}

.ag_osc .display .menubar .menutitle.visible {
	display: block;
}

.ag_osc .display .menubar .menutitle .titlebox {
	border: 2px solid #00ff00;
	background: black;
	color: #00ff00;
	padding: 2px;
	font-size: 10pt;
	border-radius: 5px;
}

.ag_osc .unitstring
{
	display: inline-block;
	/*font-size: 10pt;*/
	font-size: 11px;
	width: 8px;
	/*height: 13px;*/
	text-align: center;
	margin-top: -2px; /* fix for mozilla */
	vertical-align: middle;
}

.ag_osc .unitstring .large
{
	display: none;
	font-size: 8pt;
}

.ag_osc .unitstring .small
{
	display: none;
	padding-top: 3px;	
	font-size: 7pt;
	line-height: 70%;
}

.ag_osc .unitstring .small .top
{
	display: block;
	text-align: center;
	margin-top: -4px;
}

.ag_osc .unitstring .small .bottom
{
	display: block;
	text-align: center;
}

.ag_osc .unitstring .visible
{
	display: block;
}

.ag_osc .infobar {
	position: absolute;
	font-size: 7pt;
	height: 13px;
	width: 332px;
	left: 12px;
	top: 229px;
	overflow: hidden;
}

.ag_osc .infobar .box {
	position: absolute;
	font-family: sans-serif;
	font-size: 9px;
	background: #00ff00;
	border-top: 1px solid #86FE85;
	border-left: 1px solid #86FE85;
	border-right: 1px solid #006633;
	border-bottom: 1px solid #006633;
	border-radius: 5px;
	width: 104px;
	/*padding: 0px 5px 0px 5px;*/
	padding-left: 3px;
	height: 11px; /* fix height to avoid overlap on some platforms */
}

.ag_osc .infobar .box1 { left: 0px; }
.ag_osc .infobar .box2 { left: 110px; }
.ag_osc .infobar .box3 { left: 220px; }

.ag_osc A:visited , .ag_osc A:link
{
	color: black;
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
	font-family: serif;
}

.ag_osc .manual_link
{
	position: absolute;
	right: 0px;
	bottom: 0px;
	margin: 2px;
	border-radius: 5px;
	border: 1px solid black;
	display: inline-block;
	background: #bbbbbb;
	font-size: 12px;
	padding: 1px 3px 1px 3px;
}

.ag_osc .display .timedelay_markers
{
	position: absolute;
	overflow: hidden;

	width: 330px; height: 20px;
	top: 20px; left: 14px;
}

.ag_osc .display .timedelay_markers img
{
	vertical-align: top;
}

.ag_osc .display .timedelay_markers .marker {
	position: absolute;
	left: 162px;
}

.ag_osc .display .timedelay_markers .default {
	position: absolute;
	left: 162px;
}

