DIRECTORY = '/home/weblab/weblab/server/admin/monitor/'

DB_NAME ="WebLab"
_USERNAME="wl_administrator"
_PASSWORD="wl_administrator_password"

GROUPS = { 
            '5-Ing.Tel_GPIB_2009-2010' : ('ud-gpib1', 'GPIB experiments'),
            '5-Ing.Ind_2009-2010'      : ('ud-fpga',  'FPGA experiments')
        }

LOGIC_EXP_ID="11"

