MODULES = {
        'weblab'                             : ('WARNING', True),
        'weblab.comm'                        : ('INFO',    True),
        'weblab.login'                       : ('INFO',    True),
        'weblab.login.db'                    : ('WARNING', False),
        'weblab.login.comm'                  : ('WARNING', False),
        'weblab.core'             : ('INFO',    True),
        'weblab.core.coordinator' : ('WARNING', False),
        'weblab.core.comm'        : ('WARNING', False),
        'weblab.core.db'          : ('WARNING', False),
        'weblab.laboratory'                  : ('INFO',    True),
#        'weblab.experiment'                  : ('WARNING', False),
#        'weblab.db'                         : ('WARNING', False),
        'voodoo'                             : ('WARNING', True),
#         'voodoo.sessions'                    : ('WARNING', False),
#         'voodoo.cache'                       : ('WARNING', False),
#         'voodoo.log'                         : ('WARNING', False),
#         'voodoo.threaded'                    : ('WARNING', False),
#         'voodoo.gen'                         : ('WARNING', False),
#         'voodoo.gen.protocols'               : ('WARNING', False),
#         'voodoo.gen.coordinator'             : ('WARNING', False),
#         'voodoo.gen.loader'                  : ('WARNING', False),
    }

PREFIX = 'logs/sample_'
SUFFIX = 'logs.txt'

MAX_FILE_SIZE    = 50 * 1024 * 1024
MAX_HANDLER_SIZE = 1024 * 1024 * 1024 * 1024
