@font-face {
	font-family: 'DigitalSegmented';
	src: url('font/DigitalSegmented-Italic.ttf');
}


.hp_funcgen
{
	position: relative;
	text-align: left;
	width:800px;
	height:356px;
}

/* wheel */
.hp_funcgen .knob {
	width: 112px;
	height: 112px;
	position:absolute;
	top: 38px;
	left: 592px;
}

.hp_funcgen .top {
	width: 112px;
	height: 112px;
	transform-origin: 56px 56px;
	-moz-transform-origin: 56px 56px;
	-webkit-transform-origin: 56px 56px;
}

.hp_funcgen .button, .hp_funcgen .button img {
	position:absolute;
}

.hp_funcgen .button img { display: none; }
.hp_funcgen .button img.active {	display: inline; }

/* first row */
.hp_funcgen .button_sine { top: 197px; left: 105px; width: 52px; height: 37px; }
.hp_funcgen .button_square { top: 197px; left: 171px; width: 52px; height: 37px; }
.hp_funcgen .button_triangle { top: 197px; left: 237px; width: 52px; height: 37px; }
.hp_funcgen .button_rampup { top: 197px; left: 303px; width: 52px; height: 37px; }
.hp_funcgen .button_noise { top: 197px; left: 369px; width: 52px; height: 37px; }
.hp_funcgen .button_arb { top: 197px; left: 435px; width: 52px; height: 37px; }
.hp_funcgen .button_enter { top: 197px; left: 500px; width: 54px; height: 40px; }
/* second row */
.hp_funcgen .button_freq { top: 257px; left: 103px; width: 54px; height: 40px; }
.hp_funcgen .button_ampl { top: 257px; left: 169px; width: 54px; height: 40px; }
.hp_funcgen .button_offset { top: 257px; left: 235px; width: 54px; height: 40px; }
.hp_funcgen .button_single { top: 257px; left: 302px; width: 54px; height: 40px; }
.hp_funcgen .button_recall { top: 257px; left: 368px; width: 54px; height: 40px; }
.hp_funcgen .button_enternumber { top: 257px; left: 433px; width: 54px; height: 40px; }
.hp_funcgen .button_shift { top: 256px; left: 500px; width: 54px; height: 40px; }
/* arrow buttons */
.hp_funcgen .button_up { top: 177px; left: 569px; width: 38px; height: 29px; }
.hp_funcgen .button_down { top: 212px; left: 569px; width: 38px; height: 29px; }
.hp_funcgen .button_right { top: 247px; left: 569px; width: 38px; height: 29px; }
.hp_funcgen .button_left { top: 282px; left: 569px; width: 38px; height: 29px; }

/* function images */
.hp_funcgen .funcselect , .hp_funcgen .funcselect img {
	position:absolute;
	top: 0px;
	left: 0px;
}

.hp_funcgen .funcselect img {
	display: none;
}

.hp_funcgen .funcselect img.active {
	display: inline;
}

.hp_funcgen .funcselect .sine { top: 77px; left: 549px; }
.hp_funcgen .funcselect .square { top: 92px; left: 548px; }
.hp_funcgen .funcselect .triangle { top: 106px; left: 548px; }
.hp_funcgen .funcselect .rampup { top: 120px; left: 550px; }

.hp_funcgen .bigtext
{
	font-size: 44pt;
	/*font-family: monospace;
	font-weight: bold;*/
	color: #008000;	
	position: absolute;
	text-align: right;
	font-family: 'DigitalSegmented', monospace;
}

.hp_funcgen .num_display
{
	top: 75px;
	left: 30px;
	width: 400px;
}

.hp_funcgen .num_unit
{
	top: 75px;
	left: 434px;
	width: 100px;
	text-align: left;
}

.hp_funcgen .on .green
{
	color: #00FF00;	
}

.hp_funcgen A:visited , .hp_funcgen A:link
{
	color: black;
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
	font-family: serif;
}

.hp_funcgen .manual_link
{
	position: absolute;
	right: 0px;
	bottom: 0px;
	margin: 2px;
	border-radius: 5px;
	border: 1px solid black;
	display: inline-block;
	background: #bbbbbb;
	font-size: 12px;
	padding: 1px 3px 1px 3px;
}
