
@font-face {
	font-family: 'DigitalNum';
	src: url('font/DigitalNum-Italic.ttf');
}

.flukedmm .display {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top: 62px;
	left: 41px;
	width: 218px;	
	height: 78px;
}

.flukedmm .display .AC { position: absolute; right: 0; top: 0; }
.flukedmm .display .DC {	position: absolute;	right: 0;	top: 15px; }
.flukedmm .display .Ohm {	position: absolute;	right: 0;	top: 30px; }

.flukedmm .dmm_value {
	position: absolute;
	right: 53px;
	height: 60px;
	
	font-size: 44pt;
	font-family: 'DigitalNum', Sans-Serif;
	text-align: right;
	font-weight: normal;
}


.flukedmm .vred {
	transform-origin: 16px 102px;
	-moz-transform-origin: 16px 102px;
	-webkit-transform-origin: 16px 102px;
}

.flukedmm .rot {
	position:absolute;
	top: 207px;
	left: 82px;
}

.flukedmm .rot .top { /* , .rot .base */
	top: 0; left: 0;
	position:absolute;
}

.flukedmm {
	position: relative;
	overflow: hidden;
	height: 460px;
}

.flukedmm A:visited , .flukedmm A:link
{
	color: black;
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
	font-family: serif;
}

.flukedmm .manual_link
{
	color: black;
	position: absolute;
	right: 0px;
	bottom: 0px;
	margin: 2px;
	border-radius: 5px;
	border: 1px solid black;
	display: inline-block;
	background: #bbbbbb;
	font-size: 12px;
	padding: 1px 3px 1px 3px;
}
