.timer
{
    position: fixed;
    left: 10px;
    top: 10px;

    font-size: 1.6em;
    font-family: "Times New Roman", Times, serif;
    color: #222;
    text-shadow: 1px 3px 5px #555;

    width: auto;

    padding: 4px 8px 4px 8px;
    background-color: rgba(210, 210, 210, 0.5);
    display: inline-block;
    border-radius: 6px;
    border: 2px solid #444;
    box-shadow: 2px 2px 10px 2px #222;

    z-index: 100;
}

.modal {
  max-height: 80%;
  overflow-y: auto;
}

.modal-dialog {
    max-width: 80%;
    overflow-x: auto;
    width: 80%;
}

.modal-body {
    max-height: none;
    text-align: center;
}


.debug {
    border-color: red;
    border-style: dotted solid dashed double;
}


.instance-column {
    border-radius: 5px;
    border: 1px solid #EEE;
    padding-bottom: 20px;
}

.arch-instance-title {
    text-align: center;
}


.arch-camera {
    position: relative;
    transform:rotate(270deg);
    -webkit-transform: rotate(-90deg) translate(-100%, 0%) scale(1, 1);
    -webkit-transform-origin: 0% 0%;
    z-index: 10; /* Always display over the buttons */
}

.arch-img-wrapper {
    width: 95%;
    height: 480px; /* JS-modified to meet a 640x480 aspect ratio */
}

.arch-well {
    vertical-align:middle;
    text-align:center;
    margin-left:-140px;
    height:600px;
}


a.arch-control {
    display: inline-block;
    width: 48%;
}

img.arch-control {
    width: 70%;
}

.arch-controls-table {
    margin: 0 auto;
    width: 200px;
}

dd,dl {
    display: inline-block;
}

.glower
{
    opacity: 0.8
}

.glower:hover
{
    opacity: 1;
    border-radius: 25px;
    box-shadow: 0 0 5px 10px rgba(255, 255, 0, .75);
}
