
.design-disabled {
    background-color: rgba(250, 150, 150, 1);
    opacity: 0.5;
}


.design-editable {
    cursor: pointer;
    cursor: hand;
}

td.design-editable-marked {
    border: dotted 4px green !important;
}