{% extends "base.html" %}


{% block navbar %}
<ul class="nav">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li class="active"><a href="{{ url_for('configure') }}">Configure</a></li>
    <li><a href="{{ url_for('deploy') }}">Deploy</a></li>
</ul>
<ul class="nav pull-right" >
    <li><a href="{{ url_for('logout') }}">Logout ({{session['user_email']}})</a></li>
</ul>
{% endblock navbar %}

{% block body %}
    {% from "macros/_formhelpers.html" import render_field %}
    <h1>Basic configuration</h1>
    <br/>

    <form method="POST" enctype=multipart/form-data action="{{ url_for('configure') }}" class="form-horizontal">
      <fieldset>
        {{ form.hidden_tag() }}
        {{ render_field(form.name) }}
        {{ render_field(form.logo) }}
        {{ render_field(form.base_url) }}
        {{ render_field(form.link_url) }}
        {{ render_field(form.google_analytics_number) }}

        <div class="form-actions">
            <button type="submit" name="action" value="save" class="btn btn-primary">Save</button>
            <button type="submit" name="action" value="savedeploy" class="btn btn-success">Save and deploy</button>
        </div>

      </fieldset>
    </form>
    
    
{% endblock body %}

{% block footer %}
{% endblock footer %}
