{% set current_link = "deploy" %}
{% extends "base.html" %}

{% block body %}

    <div class="row">
        <div class="col col-xs-6 col-xs-offset-2">
    
            <h1>Basic configuration</h1>
            <br/>
            
            {% if enabled %}
            {% from "macros/_formhelpers.html" import render_field %}
            <form method="POST" enctype=multipart/form-data action="{{ url_for('deploy') }}" class="form-horizontal">
              <fieldset>
                {{ form.hidden_tag() }}
                {{ render_field(form.admin_name) }}
                {{ render_field(form.admin_user) }}
                {{ render_field(form.admin_password) }}
                {{ render_field(form.admin_email) }}

                <div class="alert alert-warning">
                    <strong>Important note:</strong> once you deploy it, you may change the administrator data, but you changing the basic configuration (url, name of institution, logo) requires contacting the administrators. Additionally, take into account that you <strong>can only create one deployment</strong>. If you wish more, contact the administrators.
                </div>

                <div class="form-actions">
                    <button type="submit" name="action" value="save" class="btn btn-primary">Deploy now!</button>
                </div>

              </fieldset>
            </form>
            {% else %}
            
            <p class="alert alert-warning">You have already deployed the system, so you can not redeploy it again. You can access it <a href="{{ url }}">here</a>. If you need to change anything, contact the administrator.</p>

            {% endif %}
   
        </div>
    </div>

{% endblock body %}

