{% extends "base.html" %}


{% block navbar %}
<ul class="nav">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('configure') }}">Configure</a></li>
    <li class="active"><a href="{{ url_for('deploy') }}">Deploy</a></li>
</ul>
<ul class="nav pull-right" >
    <li><a href="{{ url_for('logout') }}">Logout ({{session['user_email']}})</a></li>
</ul>
{% endblock navbar %}

{% block body %}

    <div class="row">
        <div class="offset2 span6">
    
            <h1>Basic configuration</h1>
            <br/>
            
            {% if enabled %}
            {% from "macros/_formhelpers.html" import render_field %}
            <form method="POST" enctype=multipart/form-data action="{{ url_for('deploy') }}" class="form-horizontal">
              <fieldset>
                {{ form.hidden_tag() }}
                {{ render_field(form.admin_name) }}
                {{ render_field(form.admin_user) }}
                {{ render_field(form.admin_password) }}
                {{ render_field(form.admin_email) }}

                <div class="form-actions">
                    <button type="submit" name="action" value="save" class="btn btn-primary">Deploy now!</button>
                </div>

              </fieldset>
            </form>
            {% else %}
            
            <p class="alert">You have already deployed the system. You can not redeploy it again. You can access it <a href="{{ url }}">here</a></p>

            {% endif %}
   
        </div>
    </div>

{% endblock body %}

{% block footer %}
{% endblock footer %}
