{% set current_link = "home" %}
{% extends "base.html" %}

{% block body %}
    {% from "macros/_formhelpers.html" import render_field %}
    <div class="row">
        <div class="col col-xs-6 col-xs-offset-3 text-center">
            <h1>Log in</h1>
            <br/>

            <form method="POST" action="{{ url_for('login', next=next) }}" class="form-horizontal">
                <fieldset>
                    {{ form.hidden_tag() }}
                    {{ render_field(form.email, placeholder="E-mail address") }}
                    {{ render_field(form.password, placeholder="Password") }}

                    <div class="form-actions">
                        <input type="submit" value="Log in" class="btn btn-success">
                        <a href="{{ url_for('register') }}"><input type="button" class="btn btn-primary btn-large" value="Register"/></a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock body %}

