{% set current_link = "home" %}
{% extends "base.html" %}

{% block body %}
    {% from "macros/_formhelpers.html" import render_field %}
    <div class="row">
        <div class="offset2 span7">
            <h1>Registration</h1>
            <br/>

            <form method="POST" action="{{ url_for('register') }}" class="form-horizontal">
                {{ form.hidden_tag() }}
                
                <fieldset>
                    {{ render_field(form.full_name) }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.confirm) }}
                    {% if form|attr('recaptcha') %}
                        {{ render_field(form.recaptcha) }}
                    {% endif %}

                    <div class="form-actions">
                        <a href="{{ url_for('index') }}" class="btn btn-alert">Back</a>
                        <input type="submit" value="Register" class="btn btn-primary">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock body %}

