
from celery.schedules import crontab
from datetime import timedelta


DEBUG = True
SECRET = "This is local"

CELERYBEAT_SCHEDULE = {

    # ARCHIMEDES TESTS
    'ar1': {
        'task': 'check.http_get_code',
        'schedule': timedelta(seconds=60),
        'args': ('archimedes.cam1', 'Archimedes 1 webcam works',
                 'http://cams.weblab.deusto.es/webcam/proxied.py/arquimedes1_rotate', 200)
    },
    'ar2': {
        'task': 'check.http_get_code',
        'schedule': timedelta(seconds=60),
        'args': ('archimedes.cam2', 'Archimedes 2 webcam works',
                 'http://cams.weblab.deusto.es/webcam/proxied.py/arquimedes2_rotate', 200)
    },
    'ar3': {
        'task': 'check.http_get_code',
        'schedule': timedelta(seconds=60),
        'args': ('archimedes.cam3', 'Archimedes 3 webcam works',
                 'http://cams.weblab.deusto.es/webcam/proxied.py/arquimedes3_rotate', 200)
    },
    'ar4': {
        'task': 'check.http_get_code',
        'schedule': timedelta(seconds=60),
        'args': ('archimedes.cam4', 'Archimedes 4 webcam works',
                 'http://cams.weblab.deusto.es/webcam/proxied.py/arquimedes4_rotate', 200)
    },
    'ar5': {
        'task': 'check.http_get_code',
        'schedule': timedelta(seconds=60),
        'args': ('archimedes.cam5', 'Archimedes 5 webcam works',
                 'http://cams.weblab.deusto.es/webcam/proxied.py/arquimedes5_rotate', 200)
    },
    'ar6': {
        'task': 'check.http_get_code',
        'schedule': timedelta(seconds=60),
        'args': ('archimedes.cam6', 'Archimedes 6 webcam works',
                 'http://cams.weblab.deusto.es/webcam/proxied.py/arquimedes6_rotate', 200)
    },
    'ar7': {
        'task': 'check.http_get_code',
        'schedule': timedelta(seconds=60),
        'args': ('archimedes.cam7', 'Archimedes 7 webcam works',
                 'http://cams.weblab.deusto.es/webcam/proxied.py/arquimedes7_rotate', 200)
    },

    'arboard1': {
        'task': 'check.http_get_code',
        'schedule': timedelta(seconds=60),
        'args': ('archimedes.board1', 'Archimedes 1 board responds', 'http://192.168.0.161:80', 200)
    },
    'arboard2': {
        'task': 'check.http_get_code',
        'schedule': timedelta(seconds=60),
        'args': ('archimedes.board2', 'Archimedes 2 board responds', 'http://192.168.0.162:80', 200)
    },
    'arboard3': {
        'task': 'check.http_get_code',
        'schedule': timedelta(seconds=60),
        'args': ('archimedes.board3', 'Archimedes 3 board responds', 'http://192.168.0.163:80', 200)
    },
    'arboard4': {
        'task': 'check.http_get_code',
        'schedule': timedelta(seconds=60),
        'args': ('archimedes.board4', 'Archimedes 4 board responds', 'http://192.168.0.164:80', 200)
    },
    'arboard5': {
        'task': 'check.http_get_code',
        'schedule': timedelta(seconds=60),
        'args': ('archimedes.board5', 'Archimedes 5 board works', 'http://192.168.0.165:80', 200)
    },
    'arboard6': {
        'task': 'check.http_get_code',
        'schedule': timedelta(seconds=60),
        'args': ('archimedes.board6', 'Archimedes 6 board works', 'http://192.168.0.166:80', 200)
    },
    'arboard7': {
        'task': 'check.http_get_code',
        'schedule': timedelta(seconds=60),
        'args': ('archimedes.board7', 'Archimedes 7 board works', 'http://192.168.0.167:80', 200)
    },

    # Archimedes thorough test
    'arthorough': {
        'task': 'check.archimedes',
        'schedule': timedelta(minutes=90),
        'args': ('archimedes.thorough', True,
                 "https://weblab.deusto.es/weblab/web/webclient/lab.html?category=Aquatic+experiments&type=js&name=archimedes",
                 WEBLAB_USER, WEBLAB_PASSWORD, "Archimedes checked thoroughly and seems to work as expected",)
    },

    # FPGA TESTS
    'fpga1': {
        'task': 'check.http_get_code',
        'schedule': timedelta(seconds=60),
        'args': ('fpga.cam1', 'FPGA 1 webcam works', 'http://cams.weblab.deusto.es/webcam/proxied.py/fpga1', 200)
    }


}

