.notvisible {
    visibility: hidden;
    background-color: red;
}



.wl-clock-control-wrapper {
    padding: 2px;
    margin-top: 2px;
}


.wl-timer-wrapper-upper {
    border: 4px solid dimgrey;

    margin-bottom: 15px;
    margin-top: 10px;
}

.wl-timer-wrapper {
    min-height: 40px;
    width: 100%;
    border: 2px solid darkgreen;
    background-color: #FFFFCC;
}

.wl-timer-message {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    vertical-align: middle;
    font-size: 1.8em;
    font-family: monospace;
}

.wl-timer-runningout {
    color: red;
}

.wl-status-wrapper-upper {
    border: 4px solid dimgrey;

    margin-bottom: 15px;
    margin-top: 10px;
}

.wl-status-wrapper {
    min-height: 40px;
    width: 100%;
    border: 2px solid darkgreen;
    background-color: #FFFFCC;
}

.wl-status-message {
    padding: 10px;
    width: 100%;
    vertical-align: middle;
    font-size: 1.2em;
    font-family: monospace;
}

.wl-status-status-programming {

}

.wl-status-status-ready {

}

.wl-status-status-error {
    background-color: indianred;
}

@keyframes wl-status-flash {
    0% {
        background-color: yellow;
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: yellow;
    }
}

.wl-status-flash {
    -webkit-animation-name: wl-status-flash;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;

    animation-name: wl-status-flash;
    animation-duration: 900ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}


wl-webcam div {
    width: 100%;
    text-align: center;
    height: 100%;
}

wl-webcam div img {
    border: 2px solid darkgray;

    /* So that the image is resized automatically to fit the container" */
    max-width: 100%;
    max-height: 100%;
}




.wl-switch-btn {
    width: 50px;

    border: 1px solid darkgray;
    border-radius: 3px;
    padding: 2px;

    position: relative;
    display: block;
}

.wl-switch-btn:hover{
    border: 1px solid black;
}

.wl-switch-btn-pressed {
    /* To be displayed only while the button is being pressed by the user. */
    background-color: lightgray;
}

.wl-switch-btn-overlay {
    position: absolute;
    width: 30px;

    margin-top: -40px;
    margin-left: 10px;

    opacity: 0.5;

    /* Important, so that we do not catch the events meant for the actual elevator-btn. */
    pointer-events: none;
}

.wl-switch-caption {
    display: block;
}

.wl-switch-btn-img-wrapper {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}


.wl-display-col {
    height: 600px;
}


wl-virtual-model div {
    height: 100%;
    width: 100%;
    border: 1px solid gold;
}

wl-virtual-model div iframe {
    height: 100%;
    width: 100%;
}

wl-boole-web div {
    height: 100%;
    width: 100%;
    border: 1px solid gold;
}

wl-boole-web div iframe {
    height: 100%;
    width: 100%;
}









.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 15px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
