{% extends "quickadmin/_base.html" %}

{% block header %}
    <style>
      body {
        padding: 20px;
      }
    </style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="container-fluid">
            <h2>{{ title }}</h2>

            {% if arguments %}
                {% for arg in arguments %}
                    <a href="{{ param_url_for(endpoint, **{ arg : arguments[arg] }) }}" class="btn btn-default">{{ arg }}: {{ arguments[arg] }}</a>
                {% endfor %}
                &nbsp;
                <a href="{{ url_for(endpoint) }}" class="btn btn-primary">Clear</a>
            {% endif %}
            </h2>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Name</th>
                        <th>Experiment</th>
                        <th>Date</th>
                        <th>End date</th>
                        <th>Duration</th>
                        <th>From</th>
                        <th>Use</th>
                    </tr>
                </thead>
                <tbody>
                    {% for use in uses %}
                        <tr>
                            <td class="longname"><a href="{{ param_url_for(endpoint, login = use['login']) }}">{{ use['display_name'] }}</a></td>
                            <td>{{ use['full_name'] }}</td>
                            <td><a href="{{ param_url_for(endpoint, experiment_name = use['experiment_name'], category_name = use['category_name']) }}"><li class="glyphicon glyphicon-link"></li></a> <a href="{{ param_url_for(endpoint, experiment_name = use['experiment_name']) }}">{{ use['experiment_name'] }}</a>@<a href="{{ param_url_for(endpoint, category_name = use['category_name']) }}">{{ use['category_name'] }}</a></td>
                            <td data-date="{{ use['start_date'] }}Z"></td>
                            {% if use['end_date'] %}
                            <td data-date="{{ use['end_date'] }}Z"></td>
                            {% else %}
                            <td><b>Not yet finished</b></td>
                            {% endif %}
                            <td>{{ use['duration'] }}</td>
                            <td>{{ use['from'] }}
                            {% 
                                if use['hostname'] and 'local' not in use['hostname'] and use['hostname'] != use['from'] 
                            %} ({{ use['hostname'] }}){% endif %}{% if use['city'] %} - {{ use['city'] }}{% 
                                endif 
                            %}{%
                                if use['country'] 
                            %} ({{ use['country'] }}){% 
                                endif 
                            %}</td>
                            <td><a href="{{ param_url_for('.use', use_id = use['id']) }}">use</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function zfill(n) {
            if (n < 10) 
                return "0" + n;
            return n;
        }

        $("td[data-date]").each(function (pos, value) {
            var datestring = $(value).data("date");
            var d = new Date(datestring.replace(/ /, 'T'));
            $(value).text(d.getFullYear() + "-" + zfill(d.getMonth() + 1) + "-" + zfill(d.getDate()) + " " + zfill(d.getHours()) + ":" + zfill(d.getMinutes()) + ":" + zfill(d.getSeconds()));
        });

        $("td.longname>a").each(function(pos, val) { 
            $(val).attr("title", $(val).text()); 
            var MAX_SIZE = 20;
            if($(val).text().length > MAX_SIZE) {
                var newTitle = $(val).text().substr(0, MAX_SIZE) + "..."; 
                $(val).text(newTitle); 
            } 
        });
    </script>
{% endblock %}
