{% extends "quickadmin/_base.html" %}

{% block header %}
    <link href="{{ url_for('.static', filename='nvd3/nv.d3.css') }}" rel="stylesheet">
    <style>
        .enabled-row {
            background-color: #E8F1D4;
        }

        .disabled-row {
            background-color: #EEB4B4;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="container">
            <div class="row">
                <h2>{{ title }}</h2>
                <h5>Date: <input name="daterange"></input></h5>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <div id="regions_div" style="width: 100%; height: 600px;"></div>
                </div>
                <div class="col-sm-3">
                    <h4>Date</h4>
                    <h4>Top 10 countries by number of uses</h4>
                    <table class="table table-hover table-bordered text-center">
                        <thead>
                            <tr>
                                <th class="text-center">Country</th>
                                <th class="text-center">Uses</th>
                                <th class="text-center">Exclude</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for country, number in (per_country|dictsort(false, 'value'))[-10:]|reverse %}
                            <tr class="enabled-row">
                                <td>{{ country }}</td>
                                <td>{{ number }}</td>
                                <td>
                                    <button class="country-button" data-country="{{ country }}" data-number="{{ number }}" class="btn btn-default"><li class="glyphicon glyphicon-eye-close"></li></button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="row">
                <svg id="chart" style="height:500px"></svg>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["geochart"]});
      google.setOnLoadCallback(drawRegionsMap);

      var useData = [
          ['Country', 'Uses'],
          {% for country, number in per_country.iteritems() %}
          ['{{ country }}', {{ number }}]{% if not loop.last %},{% endif %}
          {% endfor %}
        ];

      function removeData(country) {
         for (var i = 0; i < useData.length; i++) {
             if(useData[i][0] == country) {
                useData.splice(i, 1);
                break;
             }
         }
         drawRegionsMap();
      }
      function addData(country, number) {
         useData.push([ country, number ]);
         drawRegionsMap();
      }

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable(useData);
        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }

      $("button.country-button").click(function(){
           var country = $(this).data("country");
           var number = $(this).data("number");
           var icon = $(this).find("li");
           if(icon.hasClass("glyphicon-eye-close")) {
               removeData(country);
               icon.removeClass("glyphicon-eye-close");
               icon.addClass("glyphicon-eye-open");
           } else {
               addData(country, number);
               icon.removeClass("glyphicon-eye-open");
               icon.addClass("glyphicon-eye-close");
           }
           
           $(this).parent().parent().toggleClass("disabled-row");
      });
    </script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='nvd3/nv.d3.min.js') }}"></script>
    <script type="text/javascript">
        nv.addGraph(function() {
            var raw_data = {{ per_time|tojson }};
            var data = raw_data['per_time'];
                /*
                {
                    key : 'Country 1',
                    values : [
                        [
                            date-in-milliseconds,
                            value
                        ],
                    ]
                }
                */
            var chart = nv.models.lineChart()
                          .x(function(d) { return d[0] })
                          .y(function(d) { return d[1] }) //adjusting, 100% is 1.00, not 100 as it is in the data
                          .color(d3.scale.category10().range())
                          .useInteractiveGuideline(true)
                          ;

             chart.xAxis
                .tickFormat(function(d) {
                    var d2 = new Date(d);
                    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                    if(raw_data['key_used'] == 'day') {
                        return d2.getDate() + " " + months[d2.getMonth()] + " " + d2.getFullYear();
                    } else if(raw_data['key_used'] == 'month') {
                        return months[d2.getMonth()] + " " + d2.getFullYear();
                    } else if (raw_data['key_used'] == 'year'){
                        return d2.getFullYear();
                    }
                    return d3.time.format('%x')(new Date(d))
                  });

            d3.select('#chart')
                .datum(data)
                .call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
          });
    </script>
{% endblock %}
