#plotModalBody {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
    fill: steelblue;
    stroke-width: 4;
    fill-opacity: 0.1;
    stroke-opacity: 1;
    stroke:blue;
}