{% extends 'weblab-master.html' %}
{% block body %}


<div class="row">
    <div class="col-sm-7 col-sm-offset-2">
        <h1>{{ gettext("Grant permissions") }}</h1>

        <br/>
        <p>{{ gettext("Select what kind of permission you are going to grant, and to who (a group, a role, a particular user):") }}</p>
        <br/>

        {% from "_form_helpers.html" import render_field %}
        <form method="POST" action="{{ request.url }}" class="form-horizontal">
            {{ form.hidden_tag() }}

            <fieldset>
                {{ render_field(form.permission_types) }}
                {{ render_field(form.recipients) }}

                <ul>
                {% for permission_type in permission_types %}
                    <li><b>{{ permission_type }}:</b> {{ permission_types[permission_type].description }}</li>
                {% endfor %}
                </ul>

                <div class="form-actions text-center">
                    <button type="submit" class="btn btn-primary">{{ gettext("Continue") }}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}
