{% extends 'weblab-master.html' %}

{% block body %}

<div class="row">
    <div class="col-sm-7 col-sm-offset-2">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>External</th>
                    <th>Scheduler</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>Priority queue</td>
                    <td><a class="btn" href="{{ url_for('.create_pqueue_view') }}">Create scheduler</a></td>
                </tr>
                <tr>
                    <td><i class="icon-ok"></i></td>
                    <td>External WebLab-Deusto</td>
                    <td><a class="btn" href="{{ url_for('.create_weblab_view') }}">Create scheduler</a></td>
                </tr>
                <tr>
                    <td><i class="icon-ok"></i></td>
                    <td>iLab Batch</td>
                    <td><a class="btn" href="{{ url_for('.create_ilab_view') }}">Create scheduler</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

