{% extends 'weblab-master.html' %}

{% block body %}

{% from "_form_helpers.html" import render_field, render_simple_field %}

<div class="row">
    <div class="col-sm-4 col-sm-offset-2">
        <h3>{{ gettext("General") }}</h3>
        <form method="POST" action="{{ request.url }}" class="form-horizontal">
            {{ form.hidden_tag() }}
            <input type="hidden" name="action" value="weblab-create" />

            <fieldset>
                {{ render_field(form.name) }}
                {{ render_field(form.base_url) }}
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}

                <div class="text-center">
                    <a class="btn" href="{{ back }}">{{ gettext("Back") }}</a>
                    <button type="submit" class="btn btn-primary">{{ gettext("Save") }}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% if experiments %}
<div class="row">
    <div class="col-sm-7 col-sm-offset-2">
        <h3>{{ gettext("Associations") }}</h3>

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>{{ gettext("Remote system") }}</th>
                    <th>{{ gettext("Local mapping") }}</th>
                    <th>{{ gettext("Action") }}</th>
                </tr>
            </thead>
            <tbody>
            {% for exp in experiments %}
                <tr>
                    <form class="icon" method="POST" action="{{ request.url }}">
                    {{ exp['form'].hidden_tag() }}
                    <input type="hidden" name="action" value="{{ exp['prefix'] }}"></input>
                    {# Label #}
                    <td>{{ exp['experiment'] }}</td>
                    <td>
                    {% if exp['action'] == 'remove' %}
                        {{ render_simple_field(exp['form'].identifier) }}
                        {{ exp['local_name'] }}
                    {% else %}
                        {{ render_simple_field(exp['form'].experiment_identifier) }}
                    {% endif %}
                    </td>
                    <td>
                    {% if exp['action'] == 'remove' %}
                        <button class="btn" type="submit"><i class="icon-remove"></i></button>
                    {% else %}
                        <button class="btn" type="submit"><i class="icon-plus"></i></button>
                    {% endif %}
                    </td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if misconfigured_experiments %}
        <h3>{{ gettext("Misconfigured associations") }}</h3>
        <p>{{ gettext("The following associations were once added and now the remote system does not provide them anymore") }}</p>

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>{{ gettext("Old remote name") }}</th>
                    <th>{{ gettext("Local mapping") }}</th>
                    <th>{{ gettext("Action") }}</th>
                </tr>
            </thead>
            <tbody>
            {% for exp in misconfigured_experiments %}
                <tr>
                    <form class="icon" method="POST" action="{{ request.url }}">
                    {{ exp['form'].hidden_tag() }}
                    <input type="hidden" name="action" value="{{ exp['prefix'] }}"></input>
                    <td>{{ exp['experiment'] }}</td>
                    <td>
                        {{ render_simple_field(exp['form'].identifier) }}
                        {{ exp['local_name'] }}
                    </td>
                    <td>
                        <button class="btn" type="submit"><i class="icon-remove"></i></button>
                    </td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endif %}

{% endblock %}

{% block tail %}
    <script src="{{ url_for('admin.static', filename='admin/js/form-1.0.0.js') }}"></script>
{% endblock %}

