{% extends 'weblab-master.html' %}

{% block body %}

<div class="row">
    <div class="col-sm-7 col-sm-offset-2">
        {% from "_form_helpers.html" import render_field %}
        <form method="POST" action="{{ request.url }}" class="form-horizontal">
            {{ form.hidden_tag() }}

            <fieldset>
                {{ render_field(form.name) }}
                {{ render_field(form.randomize_instances) }}

                <div class="form-actions text-center">
                    <a class="btn" href="{{ back }}">{{ gettext("Back") }}</a>
                    <button type="submit" class="btn btn-primary">{{ gettext("Save") }}</button>
                </div>
            </fieldset>
        </form>
       
    </div>
</div>

{% endblock %}

{% block tail %}
    <script src="{{ url_for('admin.static', filename='admin/js/form-1.0.0.js') }}"></script>
{% endblock %}

