{% extends 'weblab-master.html' %}
{% block body %}


<div class="row">
    <div class="col-sm-7 col-sm-offset-2">
        <br/>
        <h1>Users added successfully</h1>
        <br/>
        <br/>

        <p>The following users has been successfully added{% if group_name %} and added to the group <strong>{{ group_name }}</strong>{% endif %}:</p>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Login</th>
                    <th>Full name</th>
                    <th>E-mail address</th>
                </th>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.login }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
