{% extends 'weblab-master.html' %}
{% block body %}
<h1>{{ gettext("Welcome to the administrator!") }}</h1>

{{ gettext("You can use this tool to add or remove users, check what they did, or manage permissions.") }}

<div class="row">
    <div class="col-sm-6 text-center">
        <h3>{{ gettext("Latest uses") }}</h3>
        
    </div>

    <div class="col-sm-6 text-center">
        <h3>{{ gettext("Last week") }}</h3>
        
    </div>

    <div class="col-sm-6 text-center">
        <h3>{{ gettext("Yearly evolution") }}</h3>
        
    </div>

    <div class="col-sm-6 text-center">
        <h3>{{ gettext("Last month - geographical") }}</h3>
        
    </div>

</div>

{% endblock %}
