{% extends 'weblab-master.html' %}
{% block body %}


<div class="row">
    <div class="span7 offset2">
        <br/>
        <h1>My profile</h1>
        <br/>
        <br/>

        {% from "_form_helpers.html" import render_field %}
        <form method="POST" action="{{ request.url }}" class="form-horizontal">
            {{ form.hidden_tag() }}

            <fieldset>
                {{ render_field(form.login) }}
                {{ render_field(form.full_name) }}
                {{ render_field(form.email) }}
                {{ render_field(form.facebook) }}
                {% if change_password %}
                    {{ render_field(form.password) }}
                {% endif %}

                <div class="form-actions">
                    {% if change_profile %}
                        <button type="submit" class="btn btn-primary">Save</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary disabled">Save</button>
                    {% endif %}
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}
