<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>WebLab-Deusto</title>

        <script type="text/javascript" language="javascript" src="../static/js/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="../static/weblabjs/weblab.js"></script>
        <script type="text/javascript">
            var WEBLAB_DEBUG = true;
            var gwt_experiment_config = {{ client_config|tojson }};
            var experimentLoadedPromise = $.Deferred();
            weblab.addExperimentLoadedPromise(experimentLoadedPromise.promise());
        </script>
        <style>
            .main_weblab {
                width: 80%;
                min-width: 450px;
                margin-right: auto;
                margin-left: auto;
            }

            body {
                text-align: center;
            }
        </style>
        
        <!-- So as to call internal frames -->
        <script type="text/javascript" language="javascript" src="weblabclientlab/jslib/weblab_iframeResizer.min.js"></script>
        <!-- So as to have it if it's embedded somewhere else -->
        <script type="text/javascript" language="javascript" src="iframeResizer.contentWindow.min.js"></script>
        <script type="text/javascript" language="javascript" src="weblabclientlab/weblabclientlab.nocache.js"></script>
    </head>

    <body>
        <iframe id="__gwt_historyFrame" style="width:0;height:0;border:0"></iframe>
        <div class="main_weblab" id="weblab_slot"></div>
    </body>
</html>
