{# 
This is a set of messages not available outside which simply represent all the existing messages in the old client.
The target is to ensure that the existing translations are available in the proper languages and later see if we use them or not.
#}

{{ gettext('Finish') }}
{{ gettext('Experiment finished') }}
{{ gettext('Go back') }}
{{ gettext('Selected experiment') }}
{{ gettext('Powered by') }}
{{ gettext('Experiment hosted by') }}
{{ gettext('Experiment') }}
{{ gettext('Category') }}
{{ gettext('Assigned time') }}
{{ gettext('Back to My experiments') }}
{{ gettext('Contacting the laboratory') }}
{{ gettext('Waiting in the queue, position {0}') }}
{{ gettext('That experiment is broken. Please contact the administrator {0}. Anyway, you are in the queue (position: {1}), so as soon as the admin fixes it you will be able to use the experiment. If you prefer, you can also log in later, because usually this takes a long time.') }}
{{ gettext('Log out') }}
{{ gettext('My Experiments') }}
{{ gettext('Picture') }}
{{ gettext('Username') }}
{{ gettext('Password') }}
{{ gettext('Invalid username or password') }}
{{ gettext('Logging in') }}
{{ gettext('The {0} field can not be empty') }}
{{ gettext('Reserve') }}
{{ gettext('Reserving') }}
{{ gettext('Welcome to the WebLab-DEUSTO') }}
{{ gettext('Show experiments') }}
{{ gettext('Welcome') }}
{{ gettext('Log in') }}
{{ gettext('Choose') }}
{{ gettext('Reserve this experiment') }}
{{ gettext('For any technical issue you may find, please contact us at {0}') }}
{{ gettext('If you do not have a user account, you can try our demo experiments with the username <strong>{0}</strong> and the password <strong>{1}</strong>.') }}
{{ gettext('Support') }}
{{ gettext('Demo') }}
{{ gettext('Mobile') }}
{{ gettext('Open Source') }}
{{ gettext('Create an account') }}
{{ gettext("Don''t have an account? Create one through Facebook") }}
{{ gettext('Administration Panel') }}
{{ gettext('WebLab-Deusto is Open Source Software, and it is available in {0}') }}
{{ gettext('Perform your experiments in the mobile version by clicking <a href="{0}">here</a>') }}
{{ gettext('WebLab-Deusto is a Remote Laboratory. Students access experiments physically located in the university, having the same experience as if in traditional hands-on-lab sessions. There is more information regarding the project in the <a href="http://www.weblab.deusto.es/" target="_blank">WebLab-Deusto Research Group</a> site.') }}
{{ gettext('Information') }}
{{ gettext('Some experiments allow guest access') }}
{{ gettext('Login as guest') }}
{{ gettext('Direct link') }}
{{ gettext('Click here') }}
{{ gettext('More languages') }}
{{ gettext('This field can not be empty') }}
{{ gettext('Your user account is not allowed to access the Administration Panel') }}
{{ gettext('Accesses') }}
{{ gettext('Search') }}
{{ gettext('Passwords do not match') }}
{{ gettext('Users') }}
{{ gettext('Clear filter') }}
{{ gettext('Choose a value') }}
{{ gettext('Group') }}
{{ gettext('To') }}
{{ gettext('From') }}
{{ gettext('Filter') }}
{{ gettext('Experiment') }}
{{ gettext('VISIR experiment') }}
{{ gettext("Your web browser did not find VISIR code. If it''s the first time you run it, this might be normal: it just means that it took too long to download VISIR; try to refresh WebLab and it will work. If this problem persists, contact the administrator. Error: {0}") }}
{{ gettext('Circuits available') }}
{{ gettext("Powered by the wonderful <a href=''http://openlabs.bth.se/index.php?page=ElectroLab''>VISIR</a> <a href=''http://svn.openlabs.bth.se/''>Open Source</a> project developed at the <a href=''http://www.bth.se/''>BTH</a>") }}
{{ gettext('Select the program to send:') }}
{{ gettext('Upload') }}
{{ gettext("This demo demonstrates the multiresource queues of WebLab-Deusto. WebLab-Deusto supports that a single resource type can be used by different laboratories (therefore many laboratories share the same queue), and a laboratory can be built on top of different types of resources (and therefore, the laboratory internally uses more than one queue at the same time, which is probably shared with other laboratories). In this demo, you will use a CPLD or a FPGA depending on which one is available, but you can test that ud-demo-pld and ud-demo-fpga have their own queues. For instance, if you use one web browser to use the FPGA, you''ll see that using this demo you will not be assigned the FPGA. If this wasn''t a demo, you would select here the program that would be sent to the device. Since it could be harmful, in the demo we always send the same demonstration file.") }}
{{ gettext("If this wasn''t a demo, you would select here the program that would be sent to the device. Since it could be harmful, in the demo we always send the same demonstration file.") }}
{{ gettext('File sent.') }}
{{ gettext('Device ready') }}
{{ gettext('Device programming failed') }}
{{ gettext('This file type is not allowed') }}
{{ gettext('Sending file') }}
{{ gettext('Finishing programming') }}
{{ gettext('Your Virtual Machine is not yet ready. Please, wait. It often takes around {0} seconds.') }}
{{ gettext('Finishing') }}
{{ gettext('Done. VM is ready') }}
{{ gettext('Loading, please wait ({0}%)') }}
{{ gettext('Your Virtual Machine is now ready!') }}
{{ gettext('VM address:') }}
{{ gettext('Load Java applet VNC Client') }}
{{ gettext('Redirecting to') }}
{{ gettext('remote system') }}
{{ gettext("The submarine is only available few times, since the battery is usually empty. If you''re lucky, you''ll see the submarine and the green light of the submarine on, so you can play with it. Otherwise you''ll only be able to feed the fish (you can see the food in the top left side of the first camera) and turn on and off the lights.") }}
{{ gettext('Activate the submarine control panel') }}
{{ gettext("The submarine is probably out of battery! Don''t you want to feed the fish or play with the lights?") }}
{{ gettext('Yes, activate the submarine panel') }}
{{ gettext('Fish fed!') }}
{{ gettext('Fish already fed recently. Try again in {0} hours') }}
{{ gettext('Fish not fed: {0}') }}
{{ gettext('You can now control the aquarium') }}
{{ gettext('The program is being executed in the bot') }}
{{ gettext('There was an error: {0}') }}
{{ gettext('Select what program should be sent to the device') }}
{{ gettext('You can now control the bot') }}
{{ gettext('Programming interactive demo') }}
{{ gettext('Failed: {0}') }}
{{ gettext('Welcome to the WebLab-Deusto Logic Game!') }}
{{ gettext('Replace the unknown gate with the correct one so the LED turns on.') }}
{{ gettext('Solve as many circuits as possible to get more points and become the winner!') }}
{{ gettext("You can check your score at <a href=''/weblab/admin/winners.py''>the winners page</a>") }}
{{ gettext('Finished. Waiting for your score') }}
{{ gettext('Finished. Your score: {0}') }}
{{ gettext('Sending solution') }}
{{ gettext("Well done! 1 point. Let''s see the next one!") }}
{{ gettext('Wrong one! Game over. Total points: {0}') }}
{{ gettext('Choose the correct gate:') }}
{{ gettext("Check the ranking <a href=''{0}''>here</a>") }}
{{ gettext('Send solution') }}
{{ gettext('This laboratory is managed by a Java applet that should pop up. If nothing happens, check you have Java properly configured.') }}
{{ gettext('Pure BCD') }}
{{ gettext('Other BCDs') }}
{{ gettext('Select a code:') }}
{{ gettext('Select other code') }}
{{ gettext('Loading {0}') }}
