{% set title="Invitation" %}
{% extends "webclient/_base.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-5 col-lg-4">
                <a href="http://weblab.deusto.es">
                    <img class="wl-logo" src="{{ url_for(".static", filename="img/ui/logo_flat.png") }}"/>
                </a>
            </div>

            <div class="col-xs-6 col-md-5 col-md-offset-1 col-lg-3 col-lg-offset-5">
                <a href="{{ weblab_api.config.client["host.entity.link"] }}">
                    <img class="wl-logo" src="{{ url_for("core_web.logo") }}"/>
                </a>
            </div>
        </div>
        <div class="panel panel-default" style="margin-top:5%;margin-left: 20%;margin-right: 20%">
            <div class="panel-heading">
                <h1 class="panel-title" style="text-align: center; font-size:2em">{{ gettext('You have been invited') }}</h1>
            </div>
            <div class="panel-body">
                {{ gettext('You have been invited to join a weblab group. Login with your account if you are already registered or create a new one') }}
                <div style="text-align: center;margin-top: 5%">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-2" for="email">Username:</label>
                            <div class="col-sm-4">
                                <input type="email" class="form-control" id="email" placeholder="Enter your username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-2" for="pwd">Password:</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" id="pwd" placeholder="Enter your password">
                             </div>
                         </div>

                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                                <button type="submit" class="btn btn-primary">{{ gettext('Sign in') }}</button>
                                {{ gettext('or') }}
                                <button formaction="{{ url_for('.invitation_register',id=id) }}" class="btn btn-success">{{ gettext('Sign up') }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}