{% extends "webclient/_logged_base.html" %}
{% set title="Lab - " + display_name %}

{% import "webclient/_upload.html" as upload %}

{% block styles %}
    {{ super() }}
    {{ upload.styles() }}
{% endblock %}

{% block body %}

    {{ super() }}

    {# Includes the base HTML for the angular App for the laboratory, so that it is (or seems) more modular. #}
    {% include 'webclient/apps/lab/lab.html' %}

{% endblock %}


{% block scripts %}

    {{ super() }}

    {{ upload.scripts() }}

    {{ upload.code(config["UPLOAD_URL"]) }}

    <script type="text/javascript">

    console.log("THE EXPERIMENT IS: ");
    console.log({{ experiment|tojson }});

    console.debug("Load callback set");


    {# Await for the page #}
    $(document).ready(function () {

        // Bootstrap angular itself.
        angular.bootstrap(document, ['lab']);

    }); //! document.ready

    </script>


    {# TODO: Switch for .min files on release #}
    <script type="text/javascript" src="{{ url_for(".static", filename="bower_components/jquery/dist/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for(".static", filename="bower_components/angular/angular.js") }}"></script>
    <script type="text/javascript" src="{{ url_for(".static", filename="js/iframeResizer.min.js") }}"></script>


    {# Embedded templates #}
    {% include 'webclient/apps/lab/expinfo/expinfo.template.html' %}
    {% include 'webclient/apps/lab/reserve-status/reserve-status.directive.html' %}
    {% include 'webclient/apps/lab/iframe/experiment-iframe.template.html' %}

    {# Fake includes so that we can use Jinja2 directives #}
    <script type="text/javascript">
        {% include 'webclient/apps/lab/app.js' %}
        {% include 'webclient/apps/lab/lab.controller.js' %}
        {% include 'webclient/apps/lab/expinfo/expinfo.directive.js' %}
        {% include 'webclient/apps/lab/iframe/resizer.factory.js' %}
        {% include 'webclient/apps/lab/iframe/experiment-iframe.controller.js' %}
        {% include 'webclient/apps/lab/iframe/experiment-iframe.directive.js' %}
        {% include 'webclient/apps/lab/reserve-status/reserve-status.directive.js' %}
    </script>

{% endblock %}
