{% extends "webclient/_logged_base.html" %}
{% set title="Lab - " + experiment['display_name'] %}

{% import "webclient/_upload.html" as upload %}

{% block styles %}
    {{ super() }}
    {{ upload.styles() }}
    <style>
        .carousel-inner > .item > img {
            margin: 0 auto;
            max-height: 100%;
            max-width: 100%;
        }
    </style>
{% endblock %}

{% block body %}

    {{ super() }}

    {# Angular.js code. All in raw. #}
    {% raw %}
    <div ng-show="false" class="row">
        <div class="col-lg-4 col-lg-push-4 text-center well">
            <h4>Loading experiment...</h4>
        </div>
    </div>

    <div ng-controller="LabController" ng-cloak>
        <div class="container" ng-show="!isExperimentActive()">
            <div class="col-lg-4">
                {% endraw %}
                <a class="btn btn-default" href="{{ url_for('.labs') }}"><i class="glyphicon glyphicon-chevron-left"></i> {{ gettext("Back to My experiments") }}</a>
                {% raw %}
            </div>
        </div>

        <div class="container" id="reserve-container">

            <div class="text-center">
                <h2>{{ experiment.data.display_name }}</h2>
            </div>

            <!-- Component for the experiment information window thing -->
            <!-- Should be shown only when the experiment is NOT active -->
            <wl-exp-info ng-show="!isExperimentActive()" experiment="experiment_info.experiment" reserve="reserve(where)" is-experiment-reserving="isExperimentReserving()" stats="lab_stats" latestuses="latest_uses"></wl-exp-info>
            <wl-reserve-status ng-show="!isExperimentActive() && reserveMessage.message.length > 0" message="reserveMessage.message" translationData="reserveMessage.translationData" type="reserveMessage.type"></wl-reserve-status>
        </div>


        <div ng-cloak ng-show="isExperimentActive()" class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a ng-click="finishExperiment()" href="#" class="btn btn-warning finish-experiment-btn">{{ 'FINISH'|translate }}</a>
                </div>
            </div>
        </div>

        <div ng-show="!isExperimentActive()" class="container" id="file-upload-container" style="margin-top: 20px">
            {{ upload.content() }}
        </div>


        <!-- Should be shown when: experimentIsActive. In the future it should be shown in other circumstances as well." -->
        <wl-experiment-iframe laburl="experiment_iframe.laburl" iframeurl="experiment_iframe.iframe_url" experiment="experiment_iframe.experiment"></wl-experiment-iframe>

    </div>

    {% endraw %}

{% endblock %}


{% block scripts %}

    {{ super() }}

    {{ upload.scripts() }}

    {{ upload.code(config["UPLOAD_URL"]) }}

    <script type="text/javascript">
        {# Put here all the global variables of those things that will later be accessed by the static JS files #}
        var WL_JSON_URL = "{{ url_for('json.service_url') }}";
        var WL_LAB_URL = "{{ url_for('.static', filename='') }}";
        var WL_LOGIN_URL = "{{ url_for('.login') }}";
        var LOCALES_URL = "{{ url_for('.locales') }}";
        var LATEST_USES_URL = "{{ url_for('.latest_uses', experiment_name=experiment['name'], category_name=experiment['category']) }}";
        var LAB_STATS_URL = "{{ url_for('.lab_stats', experiment_name=experiment['name'], category_name=experiment['category']) }}";
        var IFRAME_RESIZER_URL = "{{ url_for('.static', filename='js/iframeResizer.contentWindow.min.js', _external=True, _scheme=request.scheme) }}";
        var GWT_BASE_URL = "{{ url_for('.gwt_index') }}";
        var CLIENT_TYPE = "{{ experiment['type'] }}";

        var PREFERRED_LANGUAGE = "{{ get_locale() }}";
        var EXPERIMENT_DATA = {{ experiment|tojson }};
        var WL_SESSION_ID = "{{ request.cookies.get('weblabsessionid') }}";

        {# These ones should be located somewhere else... but just don't know how without using url_for in static files which is what we try to avoid #}
        var RESERVE_STATUS_TEMPLATE_URL = "{{ url_for('.static', filename="webclient/apps/lab/reserve-status/reserve-status.directive.html") }}";
        var EXPERIMENT_IFRAME_TEMPLATE_URL = "{{ url_for('.static', filename="webclient/apps/lab/iframe/experiment-iframe.template.html") }}";
        var EXPINFO_TEMPLATE_URL = "{{ url_for('.static', filename="webclient/apps/lab/expinfo/expinfo.template.html") }}";

    {# Await for the page #}
    $(document).ready(function () {

        // Bootstrap angular itself.
        angular.bootstrap(document, ['lab']);

    }); //! document.ready

    </script>


    {# TODO: Switch for .min files on release #}
    <script type="text/javascript" src="{{ url_for(".static", filename="bower_components/angular-translate/angular-translate.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for(".static", filename="bower_components/angular-translate-loader-url/angular-translate-loader-url.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for(".static", filename="js/iframeResizer.min.js") }}"></script>


    <script type="text/javascript" src="{{ url_for(".static", filename="webclient/apps/lab/app.js") }}"></script>
    <script type="text/javascript" src="{{ url_for(".static", filename="webclient/apps/lab/lab.controller.js") }}"></script>
    <script type="text/javascript" src="{{ url_for(".static", filename="webclient/apps/lab/expinfo/expinfo.directive.js") }}"></script>
    <script type="text/javascript" src="{{ url_for(".static", filename="webclient/apps/lab/iframe/resizer.factory.js") }}"></script>
    <script type="text/javascript" src="{{ url_for(".static", filename="webclient/apps/lab/iframe/experiment-iframe.controller.js") }}"></script>
    <script type="text/javascript" src="{{ url_for(".static", filename="webclient/apps/lab/iframe/experiment-iframe.directive.js") }}"></script>
    <script type="text/javascript" src="{{ url_for(".static", filename="webclient/apps/lab/reserve-status/reserve-status.directive.js") }}"></script>

{% endblock %}
