{% extends "webclient/_logged_base.html" %}
{% set title=gettext("My Experiments") %}

{% block body %}
    {{ super() }}

    <center>
        <h2>{{ gettext("My Experiments") }}</h2>
    </center>

    <div class="container">
    <div class="row" ng-controller="LabsScreenController">
        <!-- Column for the labs themselves -->
        <div class="column col-sm-9" id="experiment-descriptions">

            <!-- To be displayed only if no experiments match the filters -->
            <div id="no-experiments-alert" class="alert alert-info" ng-cloak ng-show="!search.any_experiment_found">
                <h3>{{ gettext("No experiments are available with the current filters") }}</h3>
                <p>{{ gettext("
                    No experiments are available which match the current filters. You might want to change the filters.
                    If after changing the filters the experiment you seek still does not seem to be available,
                    you may need to request access to your teacher, laboratory provider or Weblab administrator.
                ") }}</p>
            </div>

            <div ng-show="false" class="well">
                <h3>{{ gettext("Loading laboratories...") }}</h3>
            </div>
            {% raw %}
            <div ng-cloak class="experiment-description well" ng-repeat="experiment in experiments" ng-attr-data-name="{{ experiment["name"] }}"
                 ng-show="experiment.visible"
                 ng-attr-data-category="{{ experiment.category }}"
                 ng-attr-data-experimentid="{{ experiment.key }}">
                <a ng-href="{{ experiment.lab_link }}"><h3>{{ experiment.name }}</h3></a>
                <h4>{{ experiment.category }}</h4>

                <div class="row">
                    <div class="col-sm-2" style="text-align: center">
                        <a ng-href="{{ experiment.lab_link }}">
                        <img style="display: inline-block" class="img-responsive img-thumbnail"
                             ng-src="{{ experiment.logo_link }}"
                             alt="experiment_picture" width="80" height="100"/>
                        </a>
                    </div>

                    <div class="col-sm-10">
                        <p>{{ experiment.description }}</p>
                        <a ng-href="{{ experiment.lab_link }}">
                            {% endraw %} {# use gettext() using jinja #}
                            <button class="btn btn-info reserve-new" id="reserve-new">{{ gettext("Open") }} »</button>
                            {% raw %}
                        </a>
                    </div>
                </div>
            </div>
            {% endraw %}
        </div>


        <!-- Column for the categories menu -->
        <div class="column col-sm-3 well">

            <div class="row">
                <div class="column col-sm-12">
                    <div id="wrapper">
                        <legend>
                            {{ gettext("Filter by Search") }}
                        </legend>

                        <!-- Sidebar -->
                        <div id="search-wrapper">
                            <form action="#" class="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input id="exp-search" type="Search" placeholder="{{ gettext("Search...") }}"
                                               class="form-control" autofocus="true" ng-model="search.term" ng-change="_filter_experiments()"/>

                                        <div class="input-group-btn">
                                            <div class="btn btn-info" disabled>
                                                <span class="glyphicon glyphicon-search"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /#search-wrapper -->
                    </div>
                </div>
            </div>

            <div class="row" ng-cloak>
                <div class="column col-sm-12">
                    <div id="wrapper">
                        <legend>
                            {{ gettext("Filter by Category") }}
                        </legend>

                        <!-- Sidebar -->
                        <div id="sidebar-wrapper">
                            <ul class="sidebar-nav list-unstyled" id="menu-categories">
                                {% raw %}
                                <li class="menu-item category-menu-item" style="padding: 3px 1px 1px 3px"
                                    ng-repeat="(category, category_data) in categories" 
                                    ng-attr-data-category="{{ category }}"
                                    ng-class="{ 'highlighted' : categories[category].selected, 'bg-success' : categories[category].selected }"
                                    >
                                    <a href="#" ng-click="_category_click(category)">
                                        {{ category }} ({{ category_data.count }})
                                    </a>
                                </li>
                                {% endraw %}
                            </ul>
                        </div>
                        <!-- /#sidebar-wrapper -->
                    </div>
                </div>
            </div>

        </div>


    </div>

{% endblock %}


{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
        angular
                .module("labsScreen", [])
                .controller("LabsScreenController", LabsScreenController);

        function LabsScreenController($scope) {
            $scope.experiments = {{ experiments|tojson(indent=4) }};
            $scope.categories = {};
            $scope.search = {
                term: "",
                any_experiment_found: true,
                any_category_selected: false
            };
            $.each($scope.experiments, function(index, exp) {
                exp.visible = true;
                if (exp.category in $scope.categories) {
                    $scope.categories[exp.category].count++;
                } else {
                    $scope.categories[exp.category] = {
                        selected: false,
                        count: 1
                    };
                }
            });

            $scope._filter_experiments = _filter_experiments;
            $scope._category_click = _category_click;

            function _category_click(category) {

                $scope.categories[category].selected = !$scope.categories[category].selected;
                var any_category_found = false;
                $.each($scope.categories, function(index, cat_data) {
                    any_category_found = any_category_found || cat_data.selected;
                });
                $scope.search.any_category_selected = any_category_found;
                _filter_experiments();
            }

            function _filter_experiments() {
                $.each($scope.experiments, function(index, experiment) {
                    // By default, it's visible
                    experiment.visible = true;

                    // By search term
                    var search_term = $scope.search.term;
                    if (search_term.length > 0) { // If there's a search term
                        if (!( experiment.name.toLowerCase().indexOf(search_term.toLowerCase()) >= 0 ||
                                experiment.category.toLowerCase().indexOf(search_term.toLowerCase()) >= 0 ||
                                experiment.description.toLowerCase().indexOf(search_term.toLowerCase()) >= 0 
                            )) {
                            experiment.visible = false;
                            return;
                        }
                    }

                    // By category
                    if ($scope.search.any_category_selected) {
                        if (!$scope.categories[experiment.category].selected) {
                            experiment.visible = false;
                            return;
                        }
                    }

                    // Other filters (future)
                });

                $scope.search.any_experiment_found = $scope.experiments.filter(function(exp) { return exp.visible; }).length > 0;
            }

            /**
             * Filters the experiments according to whatever configuration the filters are in.
             * As of now search filtering and category filtering are supported.
             * @return {undefined} Nothing
             */
             /*
            function _filter_experiments() {
                var all_experiments = $(".experiment-description");
                var filtered_experiments = $(".experiment-description");

                // Filter by category. If *any* category is selected, remove those that don't belong to these.
                var highlightedCategories = $(".category-menu-item.highlighted");
                var notFilteredExperiments = $();
                if (highlightedCategories.length > 0) {
                    highlightedCategories.each(function (index) {
                        var category_name = $(this).data("category");
                        var exps = $(".experiment-description[data-category='" + category_name + "']");
                        notFilteredExperiments = notFilteredExperiments.add(exps);
                    });
                    filtered_experiments = filtered_experiments.filter(notFilteredExperiments);
                }


                // Filter by search. If anything is within the search box, show only those experiments which contain
                // that in the name. Eventually maybe support will be added for the description field too (but as of now
                // it makes no sense because the description doesn't actually exist server-side).
                var searchtext = $("#exp-search").val().toLowerCase();
                notFilteredExperiments = $();
                if (searchtext.length != 0) {
                    filtered_experiments.each(function (index) {
                        var elem = $(this);

                        // @type string
                        var experiment_name = elem.data("name").toLowerCase();

                        if (experiment_name.indexOf(searchtext) != -1) {
                            notFilteredExperiments = notFilteredExperiments.add(elem);
                        }
                    });
                    filtered_experiments = filtered_experiments.filter(notFilteredExperiments);
                }

                // Determine the color of the search box.
                if (searchtext.length == 0) {
                    $("#exp-search").css("background-color", "auto");
                } else if (filtered_experiments.length > 0) {
                    $("#exp-search").css("background-color", "#EFFFDE");
                } else if (filtered_experiments.length == 0) {
                    $("#exp-search").css("background-color", "#FFE6E6");
                }

                // Hide the experiments that should be hidden.
                all_experiments.not(filtered_experiments).slideUp(500);

                // Show the experiments that should be shown.
                filtered_experiments.delay(100).slideDown(500);

                if(filtered_experiments.length == 0)
                    $("#no-experiments-alert").show();
                else
                    $("#no-experiments-alert").hide();
            }
            */
        }

        angular.element(document).ready(function () {
            angular.bootstrap(document, ['labsScreen']);
        });


        /*
        $(document).ready(function () {
            // When something is typed in the search box we apply the filter.
            $("#exp-search").bind('input propertychange', function () {
                // _filter_experiments();
            });

        }); // !ready
        */
    </script>
{% endblock %}
