{% extends "webclient/_logged_base.html" %}
{% set title=gettext("My Experiments") %}

{# Hard-coded for now: #}
{% set IMAGES_FOLDER="../../client/weblabclientlab/" %}

{% block body %}
    {{ super() }}

    <center>
        <h2>{{ gettext("My Experiments") }}</h2>
    </center>

    <div class="container">
    <div class="row">
        <!-- Column for the labs themselves -->
        <div class="column col-sm-9" id="experiment-descriptions">

            <!-- To be displayed only if no experiments match the filters -->
            <div id="no-experiments-alert" class="alert alert-info" style="display:none">
                <h3>{{ gettext("No experiments are available with the current filters") }}</h3>
                <p>{{ gettext("
                    No experiments are available which match the current filters. You might want to change the filters.
                    If after changing the filters the experiment you seek still does not seem to be available,
                    you may need to request access to your teacher, laboratory provider or Weblab administrator.
                ") }}</p>
            </div>

            <!-- TO BE DYNAMICALLY FILLED WITH EXPERIMENT DESCRIPTIONS -->
            {% for exp_key, experiment in experiments.items() %}
                <div class="experiment-description well" data-name="{{ experiment["name"] }}"
                     data-category="{{ experiment["category"] }}"
                     data-experimentid="{{ exp_key }}">
                    <h3>{{ experiment["name"] }}</h3>
                    <h4>{{ experiment["category"] }}</h4>

                    <div class="row">
                        <div class="col-sm-2" style="text-align: center">
                            <img style="display: inline-block" class="img-responsive img-thumbnail"
                                 src="{{ IMAGES_FOLDER + experiment["config"].get("experiment.picture", "") }}"
                                 alt="experiment_picture" width="80" height="100"/>
                        </div>

                        <div class="col-sm-10">
                            <p>
                                This is the Archimedes experiment, in which the user can check how the Archimedes
                                principle works in practise by controlling any of several balls which can be remotely
                                immersed into water.
                            </p>
                            <p>
                                <strong>{{ gettext("Experiment type:") }}</strong> {{ experiment["type"] }}
                            </p>

                            {% if experiment["type"] == "js" or experiment["type"] == "redirect" %}
                            <a href="{{ url_for(".lab", category = experiment["category"], name = urllib.quote_plus(experiment["name"]), type = experiment["type"]) }}">
                                <button class="btn btn-info reserve-new" id="reserve-new">Reserve</button>
                            </a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>


        <!-- Column for the categories menu -->
        <div class="column col-sm-3 well">

            <div class="row">
                <div class="column col-sm-12">
                    <div id="wrapper">
                        <legend>
                            {{ gettext("Filter by Search") }}
                        </legend>

                        <!-- Sidebar -->
                        <div id="search-wrapper">
                            <form action="#" class="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input id="exp-search" type="Search" placeholder="{{ gettext("Search...") }}"
                                               class="form-control"/>

                                        <div class="input-group-btn">
                                            <div class="btn btn-info" disabled>
                                                <span class="glyphicon glyphicon-search"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /#search-wrapper -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column col-sm-12">
                    <div id="wrapper">
                        <legend>
                            {{ gettext("Filter by Category") }}
                        </legend>

                        <!-- Sidebar -->
                        <div id="sidebar-wrapper">
                            <ul class="sidebar-nav list-unstyled" id="menu-categories">
                                <!-- CATEGORIES GO HERE AND ARE DYNAMICALLY FILLED -->
                                {% for category, experiments_in_category in experiments_by_category.items() %}
                                    <li class="menu-item category-menu-item" style="padding: 3px 1px 1px 3px"
                                        data-category="{{ category }}">
                                        <a href="#">
                                            {{ category }} ({{ experiments_in_category | length }})
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- /#sidebar-wrapper -->
                    </div>
                </div>
            </div>

        </div>


    </div>

{% endblock %}


{% block scripts %}
    {{ super() }}

    <script type="text/javascript">

        /**
         * Filters the experiments according to whatever configuration the filters are in.
         * As of now search filtering and category filtering are supported.
         * @return {undefined} Nothing
         */
        function _filter_experiments() {
            var all_experiments = $(".experiment-description");
            var filtered_experiments = $(".experiment-description");

            // Filter by category. If *any* category is selected, remove those that don't belong to these.
            var highlightedCategories = $(".category-menu-item.highlighted");
            var notFilteredExperiments = $();
            if (highlightedCategories.length > 0) {
                highlightedCategories.each(function (index) {
                    var category_name = $(this).data("category");
                    var exps = $(".experiment-description[data-category='" + category_name + "']");
                    notFilteredExperiments = notFilteredExperiments.add(exps);
                });
                filtered_experiments = filtered_experiments.filter(notFilteredExperiments);
            }


            // Filter by search. If anything is within the search box, show only those experiments which contain
            // that in the name. Eventually maybe support will be added for the description field too (but as of now
            // it makes no sense because the description doesn't actually exist server-side).
            var searchtext = $("#exp-search").val().toLowerCase();
            notFilteredExperiments = $();
            if (searchtext.length != 0) {
                filtered_experiments.each(function (index) {
                    var elem = $(this);

                    /** @type string */
                    var experiment_name = elem.data("name").toLowerCase();

                    if (experiment_name.indexOf(searchtext) != -1) {
                        notFilteredExperiments = notFilteredExperiments.add(elem);
                    }
                });
                filtered_experiments = filtered_experiments.filter(notFilteredExperiments);
            }

            // Determine the color of the search box.
            if (searchtext.length == 0) {
                $("#exp-search").css("background-color", "auto");
            } else if (filtered_experiments.length > 0) {
                $("#exp-search").css("background-color", "#EFFFDE");
            } else if (filtered_experiments.length == 0) {
                $("#exp-search").css("background-color", "#FFE6E6");
            }

            // Hide the experiments that should be hidden.
            all_experiments.not(filtered_experiments).slideUp(500);

            // Show the experiments that should be shown.
            filtered_experiments.delay(100).slideDown(500);

            if(filtered_experiments.length == 0)
                $("#no-experiments-alert").show();
            else
                $("#no-experiments-alert").hide();
        }

        $(document).ready(function () {

            // Retrieve the sessionid from a cookie.
            var sid = $.cookie("sessionid");


            // Initialize the filters and handlers in the categories in the menu.
            var $categoryMenuItems = $(".category-menu-item>a");
            $categoryMenuItems.click(function (ev) {
                console.log(ev.target);
                $(ev.target).parent().toggleClass("highlighted");
                $(ev.target).parent().toggleClass("bg-success");
                _filter_experiments();
            });

            // When something is typed in the search box we apply the filter.
            $("#exp-search").bind('input propertychange', function () {
                _filter_experiments();
            });

        }); // !ready

    </script>
{% endblock %}
