{% set link="contact" %}
{% set title="Contact" %}
{% extends "_base.html" %}

{% block body %}

<div class="container">
    <div class="page-header">
        <h1>Contact</h1>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <h2>Public mailing list</h2>
            <p>Use <a href="https://groups.google.com/d/forum/weblabdeusto">Google Groups</a> to discuss topics that you may find relevant for other users (questions, comments, etc.).</p>
        </div>
        <div class="col-lg-4">
            <h2>Direct mail to the team</h2>
            <p>Use <span class="mymail">weblab</span> <span class="mydomain">[at] deusto.es</span> to privately contact the team.
        </div>
        <div class="col-lg-4">
            <h2>Other</h2>
            <p>Contact the project leader, Javier García Zubia ( <span class="mymail">zubia</span> <span class="mydomain">[at] deusto.es</span>) in the following address:</li>
            <br/><br/>
        <tt>
    Javier García-Zubia<br>
    Faculty of Engineering<br>
    University of Deusto<br>
    Avenida de las Universidades 24<br>
    48007 Bilbao<br>
    Spain<br>
        </tt>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function(){
        $(".mymail").each(function(index) {
            var addr = $(this).text().replace(/\n/g,"").replace(/ /g,"");
            $(this).html('<a href="mailto:'+addr+'@deusto.es" >'+ addr +'@deusto.es</a>');
        });
        $(".mydomain").each(function(index) {
            $(this).remove();
        });
    });
</script>
{% endblock %}
