{% macro render_field(field) %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        {{ field.label(class="control-label col-sm-4") }}
        <div class="col-sm-6 controls">
            {{ field(id=field.name,class='form-control',**kwargs)|safe }}
            <p class="help-block">{{ field.description }}</p>
            {% for error in field.errors %}
            <span class="help-block has-error">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

