{% extends 'weblab-master.html' %}
{% block body %}

<div class="row">
    <div class="col-sm-7 col-sm-offset-2">

        {% if groups|length > 0 %}
        <p>{{ gettext("Select a group:") }}</p>
        <ul>
            {% for group in groups %}
                <li><a href="{{ url_for('stats/groups.group_stats', group_id = group.id) }}">{{ group.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="alert alert-danger">
        <p>{{ gettext("It seems that you don't have permission of teacher on any group (or there is no group in the system)") }}</p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
