#!/bin/bash
USER_ACCOUNT=weblab

# This is used both by root and by the user. We should not rely on "workon" or so (since it's user-dependent).
source ~weblab/.virtualenvs/weblab/bin/activate

export PYTHONPATH=.
export http_proxy=http://proxy-s-priv.deusto.es:3128/
export https_proxy=https://proxy-s-priv.deusto.es:3128/
