<html><head>
<title>WebLab-Deusto client redirect</title>
<script type="text/javascript">
    function submit_form(){
        var cur_hash = location.hash.substring(1);
        var reservation_id = 'Reservation id not found in history object';
        var back_url       = '';
        var locale         = '';
        var widget         = '';
        var variables = cur_hash.split('&');
        for(var i in variables){
            var cur_variable = variables[i];
            if(cur_variable.indexOf('reservation_id=') == 0)
                reservation_id = cur_variable.substring('reservation_id='.length);
            if(cur_variable.indexOf('back_url=') == 0)
                back_url       = cur_variable.substring('back_url='.length);
            if(cur_variable.indexOf('locale=') == 0)
                locale         = cur_variable.substring('locale='.length);
            if(cur_variable.indexOf('widget=') == 0)
                widget         = cur_variable.substring('widget='.length);
        }
        document.getElementById('reservation_id_text').value = reservation_id;
        document.getElementById('back_url_text').value = back_url;
        document.getElementById('locale_text').value = locale;
        document.getElementById('widget_text').value = widget;
        document.getElementById('reservation_form').submit();
    }
</script>
</head>
<body onload="javascript:submit_form();">
    <p>Please, click on 'Submit' to proceed, or in 'Back' to go back.</p>
    <form action="." method="POST" id="reservation_form">
        <input id="reservation_id_text" type="text" name="reservation_id" value="" />
        <input id="back_url_text" type="text" name="back_url" value="" />
        <input id="locale_text" type="text" name="locale" value="" />
        <input id="widget_text" type="text" name="widget" value="" />
        <input type="submit" value="Submit"/><br/>
    </form>
    <input type="submit" value="Back" onclick="window.history.back()"/>
</body>
