
  <h1>Elevator</h1>

  <div class="row">
      <div class="col col-sm-6 col-xs-12">
        <wl-webcam src="//www.weblab.deusto.es/webcam/proxied.py/fpga1"></wl-webcam>
      </div>
      <div class="col col-sm-6 col-xs-12">
        <wl-webcam src="//www.weblab.deusto.es/webcam/proxied.py/fpga1"></wl-webcam>
      </div>
  </div> <!-- !row -->

  <wl-upload></wl-upload>


  <wl-elevator-controls></wl-elevator-controls>


  <div style="display:none" class="row my-buttons-row text-center">
      <div class="col col-xs-3">
          <button class="btn btn-info" ng-click="clickButton(1)">Button 1</button>
      </div>
      <div class="col col-xs-3">
          <button class="btn btn-info" ng-click="clickButton(2)">Button 2</button>
      </div>
      <div class="col col-xs-3">
          <button class="btn btn-info" ng-click="clickButton(3)">Button 3</button>
      </div>
      <div class="col col-xs-3">
          <button class="btn btn-info" ng-click="clickButton(4)">Button 4</button>
      </div>
  </div>


  <div class="row my-buttons-row text-center">
      <div class="col col-xs-3">
          <wl-button ng-click="clickButton(1)">Button 1</wl-button>
      </div>
      <div class="col col-xs-3">
          <wl-button ng-click="clickButton(2)">Button 2</wl-button>
      </div>
      <div class="col col-xs-3">
          <wl-button ng-click="clickButton(3)">Button 3</wl-button>
      </div>
      <div class="col col-xs-3">
          <wl-button ng-click="clickButton(4)">Button 4</wl-button>
      </div>
  </div>


