<div onmousedown="return false;" class="my-elevator-controls">
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="well" style="background-color: #f5f5f5">
                <legend>Controls</legend>
                <wl-button caption="2. Floor" ident="7" overlay="images/two.png"></wl-button>
                <br>
                <wl-button caption="1. Floor" ident="6" overlay="images/one.png"></wl-button>
                <wl-button caption="Ground" ident="5" overlay="images/ground.png"></wl-button>
                <br>
                <wl-button caption="Alarm" ident="9" overlay="images/bell.png"></wl-button>
                <wl-button caption="Stop" ident="10" overlay="images/stop.png"></wl-button>
            </div>
        </div>
    </div>
</div>