<div onmousedown="return false;" class="my-elevator-controls">
    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="well" style="background-color: #f5f5f5">
                <legend>Controls</legend>
                <wl-button caption="2. Floor" dest="cabin_floor2" overlay="images/two.png"></wl-button>
                <br>
                <wl-button caption="1. Floor" dest="cabin_floor1" overlay="images/one.png"></wl-button>
                <wl-button caption="Ground" dest="cabin_floor0" overlay="images/ground.png"></wl-button>
                <br>
                <wl-button caption="Alarm" dest="cabin_alarm" overlay="images/bell.png"></wl-button>
                <wl-button caption="Stop" dest="cabin_stop" overlay="images/stop.png"></wl-button>
            </div>
        </div>
    </div>
</div>