<div class="my-elevator-controls col-xs-6 col-sm-2">
    <div class="row">
        <div class="col-xs-12 text-center well" style="background-color: #f5f5f5">
            <legend>Controls</legend>
            <wl-button style="width: 20px" caption="2. Floor" dest="cabin_floor2"></wl-button>
            <wl-button caption="1. Floor" dest="cabin_floor1"></wl-button>
            <wl-button caption="Ground" dest="cabin_floor0"></wl-button>
            <wl-button caption="Alarm" dest="cabin_alarm"></wl-button>
            <wl-button caption="Stop" dest="cabin_stop"></wl-button>
        </div>
    </div>
</div>