#
# Pillow (a PIL fork compatible with setuptools) is used to resize 
# the logo image if necessary, when using weblab-admin create.
# 
# If you encounter this type of error: fatal error: freetype/fterrors.h: No such file or directory
# in Ubuntu, do the following: 
#   $ cd /usr/include
#   $ sudo ln -s freetype2 freetype
pillow==2.0

# All these modules require a C compiler and sometimes a set of 
# libraries. The required libraries are specified after the name 
# of the module. In Ubuntu, you typically install the compiler 
# tools with the command:
#  
#     sudo apt-get install build-essential
# 

# 
# If using Redis for scheduling, hiredis makes the redis 
# library to go faster. If using SQL, this is useless.
# 

hiredis<0.2

# 
# If using MySQL, this module will be much faster than the 
# pymysql module.
# 
# It will require you to install libmysqlclient development libraries:
#     sudo apt-get install libmysqlclient-dev
# 

mysql-python<1.3

# 
# If using LDAP for authentication (a directory protocol), the
# python-ldap module is required
# 
# It will require you to install libldap2 and libsasl2 
# development libraries:
#     sudo apt-get install libsasl2-dev libldap2-dev
# 

python-ldap<2.5 

# 
# The WebLab-Deusto Bot uses matplotlib to plot the graphics
# of the time measurements. Not activated since sometimes it 
# fails and the rest of packages are not installed.
# 
# It will require several libs:
#     sudo apt-get install libfreetype6-dev libpng12-dev
# 
# matplotlib<1.2

# 
# numpy is only used in the WebLab Bot. If you are not going to
# measure the speed of the system, this module will not be used
# 

numpy<1.7


