# 
# ZSI is used to provide the SOAP interface for other applications. It is only required
# if you are going to use SOAP as a client.
# 

ZSI

# All these modules require a C compiler and sometimes a set of 
# libraries. The required libraries are specified after the name 
# of the module. In Ubuntu, you typically install the compiler 
# tools with the command:
#  
#     sudo apt-get install build-essential
# 

# 
# numpy is only used in the WebLab Bot. If you are not going to
# measure the speed of the system, this module will not be used
# 

numpy<1.7

# 
# If using Redis for scheduling, hiredis makes the redis 
# library to go faster. If using SQL, this is useless.
# 

hiredis<0.2

# 
# If using MySQL, this module will be much faster than the 
# pymysql module.
# 
# It will require you to install libmysqlclient development libraries:
#     sudo apt-get install libmysqlclient-dev
# 

mysql-python<1.3

# 
# If using LDAP for authentication (a directory protocol), the
# python-ldap module is required
# 
# It will require you to install libldap2 and libsasl2 
# development libraries:
#     sudo apt-get install libsasl2-dev libldap2-dev
# 

python-ldap<2.5 

# 
# The WebLab-Deusto deployment files are based on XML. If you
# make an error, it may be difficult to find it. If you want
# to check the syntax with XSLT, the lxml library is 
# recommended.
# 
# It will require you to install libxml2 and libxslt1 
# development libraries:
#     sudo apt-get install libxml2-dev libxslt1-dev
# 

lxml<2.4

# 
# The WebLab-Deusto Bot uses matplotlib to plot the graphics
# of the time measurements.
# 
matplotlib<1.2
