Hola %(FULL_NAME)s,

Nos alegra anunciarte que has sido dado de alta en el servicio WebLab-Deusto.

Cuando quieras utilizar este servicio, debes acceder a:

https://www.weblab.deusto.es/weblab/

Utilizando tu nombre de usuario (%(LOGIN)s) y tu password de opendeusto de la universidad.

Para cualquier duda o problema con el sistema, no dudes en avisarnos cuanto antes a nuestro
e-mail.

Un saludo,

Equipo de WebLab-Deusto

weblab@deusto.es