{% macro render_field(field, required = False, no_form_control = False) %}
    {% if field.type in ('FileField', 'BooleanField') %}
        {% set no_form_control = True %}
    {% endif %}

    <div class="form-group {% if field.errors %}has-error{% endif %}">
        {% if required and field.label.text %}
            {% set the_label = field.label.text + ' <strong style="color: red">&#42;</strong>' %}
        {% else %}
            {% set the_label = field.label.text %}
        {% endif %}
        {{ field.label(the_label, class="control-label col-sm-3") }}
        
        <div class="col-sm-7">
            {{ field(id=field.name, class="" if no_form_control else "form-control", **kwargs)|safe }}
            <p class="help-block">{{ field.description }}</p>
            {% for error in field.errors %}
            <span class="help-block input-errors">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro render_simple_field(field) %}
    {{ field(id=field.name,**kwargs)|safe }}
    {% for error in field.errors %}
    <span class="help-inline input-errors">{{ error }}</span>
    {% endfor %}
{% endmacro %}

