{% extends 'weblab-master.html' %}
{% block body %}


<div class="row">
    <div class="span7 offset2">
        <h1>Grant permissions</h1>

        <br/>
        <p>Select what kind of permission you are going to grant, and to who (a group, a role, a particular user):</p>
        <br/>

        {% from "_form_helpers.html" import render_field %}
        <form method="POST" action="{{ request.url }}" class="form-horizontal">
            {{ form.hidden_tag() }}

            <fieldset>
                {{ render_field(form.permission_types) }}
                {{ render_field(form.recipients) }}

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Continue</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}
