{% extends 'weblab-master.html' %}
{% block body %}


<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

<h1>Details</h1>

<table class="table table-bordered table-striped">
    <tbody>

        <tr>
            <td><strong>Login</strong></td>
            <td>{{ uue.user.login }} </td>
        </tr>
        {% if 'external_user' in properties %}
        <tr>
            <td><strong>In the name of</strong></td>
            <td>{{ properties['external_user'] }} </td>
        </tr>
        {% endif %}
        <tr>
            <td><strong>Full name</strong></td>
            <td>{{ uue.user.full_name }} </td>
        </tr>
        <tr>
            <td><strong>Experiment</strong></td>
            <td>{{ uue.experiment }} </td>
        </tr>
        <tr>
            <td><strong>Start date</strong></td>
            <td>{{ uue.start_date }} </td>
        </tr>
        <tr>
            <td><strong>End date</strong></td>
            <td>{{ uue.end_date }} </td>
        </tr>
        {% if 'from_direct_ip' in properties and properties['from_direct_ip'] != uue.origin %}
        <tr>
            <td><strong>Federated server</strong></td>
            <td>{{ uue.origin or 'Not stored' }} </td>
        </tr>
        <tr>
            <td><strong>User origin</strong></td>
            <td>{{ properties['from_direct_ip'] }} </td>
        </tr>
        {% else %}
        <tr>
            <td><strong>Origin</strong></td>
            <td>{{ uue.origin or 'Not stored' }} </td>
        </tr>
        {% endif %}
        <tr>
            <td><strong>Device</strong></td>
            <td>{{ uue.coord_address }} </td>
        </tr>
        {% if 'user_agent' in properties %}
        <tr>
            <td><strong>Web browser</strong></td>
            <td>{{ properties['user_agent'] }} </td>
        </tr>
        {% endif %}

        {% if 'mobile' in properties %}
        <tr>
            <td><strong>Mobile</strong></td>
            <td>{{ properties['mobile'] }} </td>
        </tr>
        {% endif %}
        {% if 'facebook' in properties %}
        <tr>
            <td><strong>Facebook</strong></td>
            <td>{{ properties['facebook'] }} </td>
        </tr>
        {% endif %}
        {% if 'locale' in properties %}
        <tr>
            <td><strong>Language</strong></td>
            <td>{{ properties['locale'] or 'en' }} </td>
        </tr>
        {% endif %}
        {% if properties.get('referer','') %}
        <tr>
            <td><strong>Referer</strong></td>
            <td>{{ properties['referer'] }} </td>
        </tr>
        {% endif %}
        {% if 'route' in properties %}
        <tr>
            <td><strong>Server</strong></td>
            <td>{{ properties['route'] }} </td>
        </tr>
        {% endif %}
        <tr>
            <td><strong>Reservation identifier</strong></td>
            <td>{{ uue.reservation_id }} </td>
        </tr>
        {% if 'permission_scope' in properties and 'permission_id' in properties %}
        <tr>
            <td><strong>Permission</strong></td>
            <td>
            {% if properties['permission_scope'] == 'user' %}
                <a href="{{ url_for('permissions/user.edit_view', id = properties['permission_id']) }}">View</a>
            {% elif properties['permission_scope'] == 'group' %}
                <a href="{{ url_for('permissions/group.edit_view', id = properties['permission_id']) }}">View</a>
            {% elif properties['permission_scope'] == 'role' %}
                <a href="{{ url_for('permissions/role.edit_view', id = properties['permission_id']) }}">View</a>
            {% else %}
                <i>Not available</i>
            {% endif %}
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>

See all the commands and files sent <a href="{{ url_for('.interactions', id = uue.id) }}">here</a>.
</div>
</div>

{% endblock %}
