{% extends 'weblab-master.html' %}
{% block body %}




<div class="row">

<h1>{{ gettext("Interactions") }}</h1>
<br/>
<h2>{{ gettext("Details") }}</h2>
<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td><strong>{{ gettext("Login") }}</strong></td>
            <td>{{ uue.user.login }} </td>
        </tr>
        <tr>
            <td><strong>{{ gettext("Full name") }}</strong></td>
            <td>{{ uue.user.full_name }} </td>
        </tr>
        <tr>
            <td><strong>{{ gettext("More details") }}</strong></td>
            <td><a href="{{ url_for('.detail', id=uue.id) }}">{{ gettext("details") }}</a></td>
        </tr>
    </tbody>
</table>

</div>

<div class="row">

<h2>{{ gettext("Interactions") }}</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{{ gettext("Timestamp before") }}</th>
            <th>{{ gettext("Timestamp after") }}</th>
            <th>{{ gettext("Request") }}</th>
            <th>{{ gettext("Response") }}</th>
            <th>{{ gettext("Link") }}</th>
        </tr>
    </thead>
    <tbody>
        {% for _, is_command, interaction in interactions %}
            <tr>
                <td>{{ display_date(interaction.timestamp_before) }}.{{ unicode(interaction.timestamp_before_micro).zfill(6) }}</td>
                {% if interaction.timestamp_after %}
                    <td>{{ display_date(interaction.timestamp_after) }}.{{ unicode(interaction.timestamp_after_micro).zfill(6) }}</td>
                {% else %}
                    <td>{{ gettext("Not provided") }}</td>
                {% endif %}
                {% if is_command %}
                    <td>{{ interaction.command }}</td>
                    <td>{{ interaction.response }}</td>
                    <td>{{ gettext("N/A") }}</td>
                {% else %}
                    <td>{{ interaction.file_info }} ({{ interaction.file_hash }})</td>
                    <td>{{ interaction.response }}</td>
                    <td><a href="{{ url_for('.files', id = interaction.id) }}">{{ gettext("Download") }}</a> </td>
                {% endif %}

            </tr>
        {% endfor %}
    </tbody>
</table>

</div>

{% endblock %}
