{% extends "base.html" %}


{% block navbar %}
<ul class="nav">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('configure') }}">Configure</a></li>
    <li class="active"><a href="{{ url_for('deploy') }}">Deploy</a></li>
</ul>
{% endblock navbar %}

{% block body %}
    {% from "macros/_formhelpers.html" import render_field %}
    <form method=post enctype=multipart/form-data action="{{ url_for('deploy') }}">
      <dl>
        {{ form.hidden_tag() }}
        {{ render_field(form.admin_name) }}
        {{ render_field(form.admin_user) }}
        {{ render_field(form.admin_password) }}
        {{ render_field(form.admin_email) }}
      </dl>
      <p><input type=submit value='Deploy now!'>
    </form>
    
{% endblock body %}

{% block footer %}
   CC 3.0
{% endblock footer %}