{% set title="Lab - " %}
{% extends "_logged_base.html" %}
{% block body %}
{{ super() }}

<div class="container">
    <div class="col-lg-6 col-lg-push-3 text-center">
        <h2>Reserve this experiment</h2>
        <table>
            <tr>
                <td>Experiment:</td>
                <td>Aquarium</td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>Aquarium labs</td>
            </tr>
            <tr>
                <td>Assigned time:</td>
                <td>3 minutes, 20 seconds</td>
            </tr>
        </table>

        <a href="" class="btn btn-primary">Reserve</a>
    </div>
</div>

{% endblock %}
