{% extends "_logged_base.html" %}
{% set title="Lab - " %}

{% import "_upload.html" as upload %}

{% block styles %}
    {{ super() }}
    {{ upload.styles() }}
{% endblock %}

{% block body %}

    {{ super() }}

    <div class="container" id="reserve-container">
        <div class="text-center">
            <h2>{{ gettext("Reserve this experiment") }}</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-lg-push-4 text-center well">
                <p>
                    <strong>{{ gettext("Experiment:") }}</strong> {{ experiment["experiment.name"] }}
                </p>

                <p>
                    <strong>{{ gettext("Category:") }}</strong> {{ experiment["experiment.category"] }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-lg-offset-4 text-center">
                <a href="#" class="btn btn-primary reserve-btn reserve-frame-btn"
                   id="reserve-frame-btn">{{ gettext("Reserve (in Frame)") }}</a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="#" class="btn btn-primary reserve-btn reserve-free-btn"
                   id="reserve-free-btn">{{ gettext("Reserve (in Window)") }}</a>
            </div>
        </div>

        <div class="row" id="reserve-status-row" style="display: none">
            <div class="col-lg-4 col-lg-push-4 col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 col-xs-12"
                 style="margin-top: 10px">
                <p class="alert alert-info" style="padding: 10px" id="reserve-status" style="">
                    {{ gettext("Reserved") }}
                    {# To be filled from JS #}
                </p>
            </div>
        </div>
    </div>


    <div class="container" id="finish-container" style="display: none">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="#" class="btn btn-warning finish-experiment-btn" id="finish-experiment-btn">Finish this
                    experiment</a>
            </div>
        </div>
    </div>

    <div class="container" id="file-upload-container" style="margin-top: 20px">
        {{ upload.content() }}
    </div>



    {% if experiment_type == "js" %}
        <div class="" style="padding-top: 20px">
            <div class="">
                <!-- We append a rawgit base URL for testing -->
                <iframe id="exp-frame" width="100%" scrolling="no"
                        src="{{ config['LAB_URL'] + experiment['html.file'] }}" style="border: 0;">

                </iframe>
            </div>
        </div>
    {% endif %}

{% endblock %}


{% block scripts %}

    {{ super() }}
    {{ upload.scripts() }}

    {{ upload.code(config["UPLOAD_URL"]) }}

    <script type="text/javascript">

    var $reserveStatusRow = $("#reserve-status-row");
    var $reserveStatus = $("#reserve-status");

    function InjectScriptIntoFrame(url) {
        var myIframe = document.getElementById("exp-frame");
        var script = myIframe.contentWindow.document.createElement("script");
        script.async = false;
        script.defer = false;
        script.type = "text/javascript";
        script.src = url;
        myIframe.contentWindow.document.body.appendChild(script);
    }

    {# Inject the new experiment library and the compatibility layer which automagically is supposed to replace the old one #}
    $("#exp-frame").load(function () {
        console.log("Injecting scripts");

        InjectScriptIntoFrame("{{ url_for('static', filename='weblabjs/weblabexp.js', _external=True) }}"); // New experiments API.
        InjectScriptIntoFrame("{{ url_for('static', filename='weblabjs/weblabexp_compat.js', _external=True) }}"); // Provides an API like the old one, but which uses the new one.
        InjectScriptIntoFrame("{{ url_for('static', filename='js/iframeResizer.contentWindow.min.js', _external=True) }}"); // Automatic iframe resizing.
    });


    /**
     * Handle certain ui actions when the experiment finishes.
     */
    function onReserveDone() {
        // Switch the finish and reserve containers.
        $("#reserve-container").slideUp(500);
        $("#finish-container").slideDown(500);

        // Re-enable the Reserve buttons, for when they are shown later.
        $(".reserve-btn").removeAttr("disabled");

        // In a while, remove the reserve alert.
        // Note: As of now this isn't actually seen because the whole container is hidden.
        $("#reserve-status-row").delay(500).fadeOut(500);
    }


    /**
     * Handle certain ui actions when the experiment finishes.
     */
    function onExperimentFinished() {
        // We should probably show some kind of experiment-finished message.

        $("#reserve-container").slideDown(500);
        $("#finish-container").slideUp(500);

        // Reload the frame.
        // This is particularly important at the moment because the WeblabExp compatibility library
        // does not support any kind of reset besides re-instancing. (and it probably shouldn't support it either).
        $('#exp-frame').attr('src', function (i, val) {
            return val;
        });
    }


    /**
     * Reserve experiment failed.
     */
    function onReserveFail(error) {

        // We logged out.
        if (error.code == "JSON:Client.SessionNotFound") {
            errorStatus("{{ gettext("You are not logged in") }}");
            setTimeout(function () {
                window.location = "{{ url_for("index") }}";
            }, 1500);
        }
        else {
            errorStatus("{{ gettext("Failed to reserve: ") }}" + error.message)
        }
    }


    /**
     * Displays the specified reserve info status.
     * @param {string} info: Info message that will appear in blue.
     */
    function infoStatus(info) {
        $reserveStatusRow.show();
        $reserveStatus.text(info);
        $reserveStatus.addClass("alert-info");
        $reserveStatus.removeClass("alert-danger");
    }

    /**
     * Displays the specified error info status.
     * @param {str} error: Error message that will appear in red.
     */
    function errorStatus(error) {
        $reserveStatusRow.show();
        $reserveStatus.text(error);
        $reserveStatus.addClass("alert-danger");
        $reserveStatus.removeClass("alert-info");
    }


    {# Await for the page #}
    $(document).ready(function () {

        // Wait for the FRAME reserve.
        $("#reserve-frame-btn").click(function (ev) {
            var sessionid = "{{ request.cookies.get("sessionid") }}";
            var name = "{{ experiment["experiment.name"] }}";
            var category = "{{ experiment["experiment.category"] }}";

            $(".reserve-btn").attr("disabled", "");
            infoStatus("{{ gettext("Reserving...") }}");

            WeblabWeb.reserve_experiment(sessionid, name, category)
                    .progress(function (status, position, result) {
                        if (position != undefined) {
                            if (position == 0)
                                infoStatus("{{ gettext("Waiting in the queue. You are next.") }}");
                            else
                                infoStatus("{{ gettext("Waiting in the queue. Your position is: ") }}" + position + ".")

                            // TODO: Improve this animation.
                            $reserveStatus.fadeOut(200).fadeIn(200);
                        }
                    })
                    .fail(function (error) {
                        onReserveFail(error);
                    })
                    .done(function (uid, time, initial_config, result) {

                        console.log("RESERVATION DONE");
                        console.log(result);

                        infoStatus("{{ gettext("Reservation done") }}");

                        var frame = $("#exp-frame")[0];
                        var wexp = frame.contentWindow.Weblab.getWeblabExp();
                        currentExperiment = wexp; // Save it in a GLOBAL. // TODO: Consider tiding it up.
                        var url = result["url"];
                        wexp.setTargetURL("{{ url_for("redir_json", _external=True) }}");
                        wexp._reservationReady(result["reservation_id"]["id"], result["time"], result["starting_config"]);

                        // Listen also for a dispose, for other ui changes.
                        wexp.onFinish().done(function (f) {
                            onExperimentFinished();
                        });

                        // For some ui changes.
                        onReserveDone();
                    });
        });


        //$("#exp-frame").iFrameResize({log : false, enablePublicMethods: true, checkOrigin : false, heightCalculationMethod: "max"}, "#exp-frame");

        // Load the iframeResizer when the frame loads.
        $("#exp-frame").on("load", function (ev) {
            // For some reason it doesn't work without a timeout. Don't know why.
            // TODO: Check why it doesn't work without a timeout and try to remove it.
            // Consider also whether we actually need to do this for each reload or one time is enough.
            // Note: Actually, maybe that is because the injected script needs to finish loading.
            // TODO: Add some kind of callback so that we can run this when the script within the iframe finishes loading.
            setTimeout(function () {
                $("#exp-frame").iFrameResize({log: false, enablePublicMethods: true, checkOrigin: false}, "#exp-frame");
            }, 100);

        });

        // TODO: Unify the "reserving experiment" alert.

        $("#finish-experiment-btn").click(function (ev) {
            currentExperiment.finishExperiment();
        });

        // Wait for the free-mode reserve.
        $("#reserve-free-btn").click(function (ev) {
            console.log("FREE RESERVE PROC STARTED");
            var sessionid = "{{ request.cookies.get("sessionid") }}";
            var name = "{{ experiment["experiment.name"] }}";
            var category = "{{ experiment["experiment.category"] }}";

            $(".reserve-free-btn").attr("disabled", "");
            infoStatus("{{ gettext("Reserving experiment...") }}");

            WeblabWeb.reserve_experiment(sessionid, name, category)
                    .fail(function (error) {
                        onReserveFail(error);
                    })
                    .done(function (id, time, initConfig, result) {
                        console.log("RESERVATION DONE");
                        console.log(result);

                        infoStatus("{{ gettext("Reservation done") }}");


                        {# TODO: Tidy this up. #}
                        {% if experiment_type == "js" %}

                            var params = {
                                "r": id,
                                "c": initConfig,
                                "t": time,
                                "u": "{{ url_for("redir_json", _external=True) }}",
                                "free": "true"
                            };
                            {# //var redir = "{{ '//rawgit.com/weblabdeusto/weblabdeusto/new_client/client/src/es/deusto/weblab/public/' + experiment["html.file"] }}"; #}
                            var redir = "{{ config["LAB_URL"] + experiment["html.file"] }}";
                            redir += "?" + $.param(params);
                            console.log(redir);

                            window.location = redir;

                        {# We assume it is a REDIRECT (HTTP) experiment #}
                        {% else %}

                            // If it is indeed a REDIRECT (HTTP) experiment, then initConfig of the reservation will
                            // contain an "url" attribute, which is the URL to which to redirect.
                            console.log("ON REDIR");

                            var parsedConfig = JSON.parse(initConfig);
                            var url = parsedConfig["url"];


                            // Replace TIME_REMAINING if present. Seems to be somewhat standard.
                            url = url.replace("TIME_REMAINING", Math.floor(time));

                            if(url == undefined) {
                                console.error("EXPERIMENT DOES NOT SEEM TO BE OF REDIRECT TYPE: NO URL PROVIDED.");
                                WeblabWeb.finishExperiment(); // Abort the experiment.
                                return;
                            }

                            // Redirect to the provided address.
                            console.log("Redirecting to: " + url);
                            window.location = url;

                        {% endif %}


                    });
        });

    }); //! document.ready


    </script>


    <script type="text/javascript" src="{{ url_for("static", filename="js/iframeResizer.min.js") }}"></script>
{% endblock %}
