{% extends "_logged_base.html" %}
{% set title="My Experiments" %}

{# Hard-coded for now: #}
{% set IMAGES_FOLDER="//www.weblab.deusto.es/weblab/client/weblabclientlab/" %}

{% block body %}
    {{ super() }}


    {% raw %}
    <script type="x-template" id="template-menu-item">
        <li class="menu-item category-menu-item" style="padding: 3px 1px 1px 3px" data-category="{{ category }}">
            <a href="#">
                {{ category }} ({{ number }})
            </a>
        </li>
    </script>
    {% endraw %}


    <center>
        <h2>My Experiments</h2>
    </center>

    <div class="container">
    <div class="row">
        <!-- Column for the labs themselves -->
        <div class="column col-sm-9" id="experiment-descriptions">

            <!-- TO BE DYNAMICALLY FILLED WITH EXPERIMENT DESCRIPTIONS -->
            {% for exp_key, experiment in experiments.items() %}
                <div class="experiment-description well" data-name="{{ experiment["experiment.name"] }}"
                     data-category="{{ experiment["experiment.category"] }}"
                     data-experimentid="{{ exp_key }}">
                    <h3>{{ experiment["experiment.name"] }}</h3>
                    <h4>{{ experiment["experiment.category"] }}</h4>

                    <div class="row">
                        <div class="col-sm-2" style="text-align: center">
                            <img style="display: inline-block" class="img-responsive img-thumbnail"
                                 src="{{ IMAGES_FOLDER + experiment.get("experiment.picture", "") }}"
                                 alt="experiment_picture" width="80" height="100"/>
                        </div>

                        <div class="col-sm-10">
                            <p>
                                This is the Archimedes experiment, in which the user can check how the Archimedes
                                principle works in practise by controlling any of several balls which can be remotely
                                immersed into water.
                            </p>
                            <a href="{{ "https://www.weblab.deusto.es/weblab/client/?locale=es#page=experiment&exp.category=%s&exp.name=%s" % (urllib.quote_plus(experiment["experiment.category"]), urllib.quote_plus(experiment["experiment.name"])) }}">
                                <button class="btn btn-info">Reserve</button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>


        <!-- Column for the categories menu -->
        <div class="column col-sm-3 well">

            <div class="row">
                <div class="column col-sm-12">
                    <div id="wrapper">
                        <legend>
                            Filter by Search
                        </legend>

                        <!-- Sidebar -->
                        <div id="search-wrapper">
                            <form action="#" class="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input id="exp-search" type="Search" placeholder="Search..."
                                               class="form-control"/>

                                        <div class="input-group-btn">
                                            <div class="btn btn-info" disabled>
                                                <span class="glyphicon glyphicon-search"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /#search-wrapper -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="column col-sm-12">
                    <div id="wrapper">
                        <legend>
                            Filter by Category
                        </legend>

                        <!-- Sidebar -->
                        <div id="sidebar-wrapper">
                            <ul class="sidebar-nav list-unstyled" id="menu-categories">
                                <!-- CATEGORIES GO HERE AND ARE DYNAMICALLY FILLED -->
                                {% for category, experiments_in_category in experiments_by_category.items() %}
                                    <li class="menu-item category-menu-item" style="padding: 3px 1px 1px 3px"
                                        data-category="{{ category }}">
                                        <a href="#">
                                            {{ category }} ({{ experiments_in_category | length }})
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- /#sidebar-wrapper -->
                    </div>
                </div>
            </div>

        </div>


    </div>

{% endblock %}


{% block scripts %}
    {{ super() }}

    <script type="text/javascript">

        /**
         * Filters the experiments according to whatever configuration the filters are in.
         * As of now search filtering and category filtering are supported.
         * @return {undefined} Nothing
         */
        function _filter_experiments() {
            var all_experiments = $(".experiment-description");
            var filtered_experiments = $(".experiment-description");

            // Filter by category. If *any* category is selected, remove those that don't belong to these.
            var highlightedCategories = $(".category-menu-item.highlighted");
            var notFilteredExperiments = $();
            if (highlightedCategories.length > 0) {
                highlightedCategories.each(function (index) {
                    var category_name = $(this).data("category");
                    var exps = $(".experiment-description[data-category='" + category_name + "']");
                    notFilteredExperiments = notFilteredExperiments.add(exps);
                });
                filtered_experiments = filtered_experiments.filter(notFilteredExperiments);
            }


            // Filter by search. If anything is within the search box, show only those experiments which contain
            // that in the name. Eventually maybe support will be added for the description field too (but as of now
            // it makes no sense because the description doesn't actually exist server-side).
            var searchtext = $("#exp-search").val().toLowerCase();
            console.log("Filtering with: " + searchtext);
            notFilteredExperiments = $();
            if (searchtext.length != 0) {
                filtered_experiments.each(function (index) {
                    var elem = $(this);

                    /** @type string */
                    var experiment_name = elem.data("name").toLowerCase();

                    if (experiment_name.indexOf(searchtext) != -1) {
                        notFilteredExperiments = notFilteredExperiments.add(elem);
                    }
                });
                filtered_experiments = filtered_experiments.filter(notFilteredExperiments);
            }

            // Determine the color of the search box.
            if (searchtext.length == 0) {
                $("#exp-search").css("background-color", "auto");
            } else if (filtered_experiments.length > 0) {
                $("#exp-search").css("background-color", "#EFFFDE");
            } else if (filtered_experiments.length == 0) {
                $("#exp-search").css("background-color", "#FFE6E6");
            }

            // Hide the experiments that should be hidden.
            all_experiments.not(filtered_experiments).slideUp(500);

            // Show the experiments that should be shown.
            filtered_experiments.delay(100).slideDown(500);
        }

        $(document).ready(function () {

            // Retrieve the sessionid from a cookie.
            var sid = $.cookie("sessionid");

            WeblabWeb._list_experiments(sid)
                    .done(function (experimentsRawList) {
                        console.log("List loaded");
                        console.log(experimentsRawList);

                        var experiments = buildExperimentsDictionary(experimentsRawList);
                        var experimentTemplate = $("#template-experiment").html();
                        var categoryMenuItemTemplate = $("#template-menu-item").html();
                        Mustache.parse(experimentTemplate);
                        Mustache.parse(categoryMenuItemTemplate);

                        // Parse the config (from the configuration.js but it is stored internally).
                        _parse_experiments_config();

                        {#                        // Load & display every single experiment.#}
                        {#                        $.each(experiments, function (category_name, category) {#}
                        {#                            $.each(category, function (experiment_name, experiment) {#}
                        {##}
                        {#                                var expConfig = _get_experiment_config(experiment_name, category_name);#}
                        {##}
                        {#                                var experimentRendered = Mustache.render(experimentTemplate, {#}
                        {#                                            "name": experiment_name,#}
                        {#                                            "category": category_name,#}
                        {#                                            "experiment_picture": IMAGES_FOLDER + expConfig["experiment.picture"],#}
                        {#                                            "experiment_link": sprintf("https://www.weblab.deusto.es/weblab/client/?locale=es#page=experiment&exp.category=%s&exp.name=%s",#}
                        {#                                                    escape(category_name), escape(experiment_name))#}
                        {#                                        }#}
                        {#                                );#}
                        {#                                $("#experiment-descriptions").append(experimentRendered);#}
                        {#                            });#}
                        {#                        });#}


                        // Load & display the categories in the menu.
                        $.each(experiments, function (category_name, category) {
                            var categoryMenuItemRendered = Mustache.render(categoryMenuItemTemplate, {
                                "category": category_name,
                                "number": Object.keys(category).length
                            });

                            var $categoryMenuItem = $(categoryMenuItemRendered.trim());
                            $("#menu-categories").append($categoryMenuItem);

                            // When a categoryMenuItem is clicked we apply the filter.
                            $categoryMenuItem.click(function (ev) {
                                $categoryMenuItem.toggleClass("highlighted");
                                $categoryMenuItem.toggleClass("bg-success");
                                _filter_experiments();
                            });
                        });


                        // When something is typed in the search box we apply the filter.
                        $(document).ready(function () {
                            $("#exp-search").bind('input propertychange', function () {
                                _filter_experiments();
                            });
                        });


                    })
                    .fail(function (ev) {
                        console.error("List could not be loaded");
                    });
        });


        //! Builds the Experiments Dictionary.
        //!
        //! @param experimentsList: Raw list of experiments returned by the list_experiements Weblab API.
        function buildExperimentsDictionary(experimentsList) {
            var experiments = {};
            $.each(experimentsList, function (index, expData) {
                var category = expData.experiment.category.name;
                if (experiments[category] == undefined) {
                    experiments[category] = {};
                }
                experiments[category][expData.experiment.name] = {
                    "time_allowed": expData.time_allowed
                };
            });

            return experiments;
        }


    </script>
{% endblock %}
