{% extends "_logged_base.html" %}
{% set title="My Experiments" %}
{% block body %}
{{ super() }}

<center>
    <h2>My Experiments</h2>
</center>

<div class="container">
    <div class="row">
        <!-- Column for the labs themselves -->
        <div class="column col-xs-9">

            {% for experiment in [{"title": "Archimedes"}] %}

                <h3>{{ experiment.title }}</h3>
                <div class="row">
                    <div class="col-sm-2">
                        <img src="http://placehold.it/100x100">
                    </div>

                    <div class="col-sm-10">
                        <p>
                            This is the Archimedes experiment, in which the user can check how the Archimedes
                            principle works in practise by controlling any of several balls which can be remotely
                            immersed into water.
                        </p>
                    </div>
                </div>

            {% endfor %}

        </div>


        <!-- Column for the categories menu -->
        <div class="column col-xs-3">

            <p>
                This should actually contain a menu.
            </p>

        </div>

    </div>
</div>

{% endblock %}
