{% set link="home" %}
{% set title="Upload File" %}
{% extends "_base.html" %}

{% block body %}

<div class="container">

    <div class="row">
        <div class="col-lg-4">
            <div id="dropbox">
                <span class="message">Drop images here to upload.</span>
            </div>
        </div>
    </div><!--!row-->

</div><!--!container-->

{% endblock %}




{% block scripts %}
    <script type="text/javascript" src="{{ url_for("static", filename="js/jquery.filedrop.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/upload.js") }}"></script>
{% endblock %}

