# Single server:

SERVERS = [
                ("127.0.0.1","31337"),
        ]

# Load balancing between two servers:
#SERVERS = [
#                ("127.0.0.1","31337"),
#                ("127.0.0.1","31338"),
#        ]

# Load balancing between three servers:
#SERVERS = [
#                ("127.0.0.1","31337"),
#                ("127.0.0.1","31338"),
#                ("127.0.0.1","31339"),
#        ]

