@font-face
{
	font-family: digital;
	src: url(../fonts/digital-7.ttf);
}

header
{
	font-size: 3em;
	margin: 1em;
}

.movements
{
	text-align: left;
	font-family: digital;
	font-weight: bold;
}

.points
{
	text-align: right;
}

.controls
{
	margin-top: 2em;
}

.camera1, .camera2
{
	text-align: center;
}

.camera2 img
{
	width: 80%;
}

.controls button
{
	width: 55px;
	height: 55px;
	padding: 0px;
}

.science
{
	text-align: center;
	margin: 1em;
}

#question .modal-body form input[type="radio"]
{
	cursor: pointer;
	margin-top: 1em;
	margin-left: 3em;
}

#question .modal-body form label
{
	cursor: pointer;
	padding-left: 0.5em;
	font-weight: normal;
	vertical-align: middle;
}