"""
configuration.py.dist

This is a configuration.py sample file. Copy its content to create your own configuration.py file.
"""

GROUPS = ('5A',)      # Groups of people to notify
ADMINS = ('pablo.orduna@deusto.es', 'irurzun@deusto.es',)

HOSTNAME = 'localhost'
DATABASE = 'WebLab'
PREFIX   = "wl_"   
USERNAME = 'wl_admin_read'
PASSWORD = 'wl_admin_read_password'               

SMTP_SERVER      = 'mail.deusto.es'
SMTP_SERVER_HELO = 'deusto.es'

FROM = 'WebLab-Deusto <weblab@deusto.es>'
BODY = """From: %(FROM)s
To: %(TO)s
Subject: Nuevo notificador de WebLab-Deusto

Hola %(FULL_NAME)s,

Probando cambio en el script, mensaje sólo para admins.

Un saludo,

Equipo de WebLab-Deusto
""" % {'FROM': FROM, 'TO': '%(TO)s', 'FULL_NAME': '%(FULL_NAME)s'}                 
